/* World of Warcraft CSS*/
/* Primary work on this version - aphoenix */

.sheets {
  margin-right: 500px;
}

.sheets textarea {
  width: 100% !important;
}

.commentarea .menuarea {
  color:#444;
  }

