/***
 * Announcements.css
 * -- This is a configurable announcement block!
 * -- This requires you to make an edit to the sidebar. Example:
 * -- ### **Announcement:** [WoW Dev AMA 9/11 at 5:30 p.m. PDT](http://www.reddit.com/r/wow/comments/zome8/blizzard_will_be_doing_an_iama_in_rwow_tomorrow/)
 * -- Be sure to remove the sidebar edit when the announcement is over.
 * -- Add a CSS Comment that starts from ANNOUNCESTART and ends just before ANNOUNCEENDS
 */
/** +++ ANNOUNCE STARTS +++ **/

div.content {
  margin-top:35px;
  z-index:-1;
  position:relative;
}
.titlebox form{
  position: static;
}
.side .usertext h3{
  position:absolute;
  display: block;
  top:34px;
  right:4px;
  color: #000;
  text-align: left;
  margin: 20px;
  margin-left:35px;
  width: 268px;
  height:74px;
  font-weight: normal;
  padding: 37px 20px 8px 78px;
  z-index:90;
  background:url('%%announcehead%%');
  background-repeat:no-repeat;
  color:#B39265;

/*  padding-top:46px; /* for single line announcements. Remove for double. */
}  

/** +++ ANNOUNCE ENDS +++ **/
