/**
 * BlizzPosts.css
 */

/* Blizzard WoW Dev AMA */
.thing.id-t1_c660p85>.entry,
.thing.id-t1_c66v0kb>.entry,
.thing.id-t1_c66v4fs>.entry,
.thing.id-t1_c66v4wi>.entry,
.thing.id-t1_c66v9dh>.entry,
.thing.id-t1_c66v8y5>.entry,
.thing.id-t1_c66v9dh>.entry,
.thing.id-t1_c66v7bx>.entry,
.thing.id-t1_c66vb5b>.entry,
.thing.id-t1_c66v9wd>.entry,
.thing.id-t1_c66v8uh>.entry,
.thing.id-t1_c66v4wi>.entry,
.thing.id-t1_c66v84f>.entry,
.thing.id-t1_c66v936>.entry,
.thing.id-t1_c66vbfk>.entry,
.thing.id-t1_c66vbfk>.entry,
.thing.id-t1_c66vbfk>.entry,
.thing.id-t1_c66vd77>.entry,
.thing.id-t1_c66vgp8>.entry,
.thing.id-t1_c66vg62>.entry,
.thing.id-t1_c66vcg1>.entry,
.thing.id-t1_c66vb5b>.entry,
.thing.id-t1_c66v9wd>.entry,
.thing.id-t1_c66vdk7>.entry,
.thing.id-t1_c66vgp8>.entry,
.thing.id-t1_c66vh9e>.entry,
.thing.id-t1_c66vkuw>.entry,
.thing.id-t1_c66vich>.entry,
.thing.id-t1_c66viz8>.entry,
.thing.id-t1_c66voci>.entry,
.thing.id-t1_c66vm1r>.entry,
.thing.id-t1_c66vkr8>.entry,
.thing.id-t1_c66vjq7>.entry,
.thing.id-t1_c66vppm>.entry,
.thing.id-t1_c66vt41>.entry,
.thing.id-t1_c66vosi>.entry,
.thing.id-t1_c66vkuw>.entry,
.thing.id-t1_c66vh9e>.entry,
.thing.id-t1_c66vuy1>.entry,
.thing.id-t1_c66vrm1>.entry,
.thing.id-t1_c66vpyv>.entry,
.thing.id-t1_c66vo8t>.entry,
.thing.id-t1_c66viz8>.entry,
.thing.id-t1_c66vgp8>.entry,
.thing.id-t1_c66vv1m>.entry,
.thing.id-t1_c66vsya>.entry,
.thing.id-t1_c66vrgf>.entry,
.thing.id-t1_c66voci>.entry,
.thing.id-t1_c66vm1r>.entry,
.thing.id-t1_c66vkr8>.entry,
.thing.id-t1_c66vjq7>.entry,
.thing.id-t1_c66vxnt>.entry,
.thing.id-t1_c66vz8e>.entry,
.thing.id-t1_c66w1gf>.entry,
.thing.id-t1_c66w2yg>.entry,
.thing.id-t1_c66w3o2>.entry,
.thing.id-t1_c66w6wm>.entry,
.thing.id-t1_c66w60d>.entry,
.thing.id-t1_c66vgp8>.entry,
.thing.id-t1_c66viz8>.entry,
.thing.id-t1_c66vo8t>.entry,
.thing.id-t1_c66vpyv>.entry,
.thing.id-t1_c66vrm1>.entry,
.thing.id-t1_c66vuy1>.entry,
.thing.id-t1_c66vznl>.entry,
.thing.id-t1_c66w0fo>.entry,
.thing.id-t1_c66w15v>.entry,
.thing.id-t1_c66w5kn>.entry,
.thing.id-t1_c66vxtj>.entry,
.thing.id-t1_c66w1ip>.entry,
.thing.id-t1_c66w71n>.entry,
.thing.id-t1_c66vosi>.entry,
.thing.id-t1_c66vt41>.entry,
.thing.id-t1_c66vxqw>.entry,
.thing.id-t1_c66w068>.entry,
.thing.id-t1_c66w1kk>.entry,
.thing.id-t1_c66w7wm>.entry,
.thing.id-t1_c66w99n>.entry,
.thing.id-t1_c66w7bj>.entry,
.thing.id-t1_c66w8j2>.entry,
.thing.id-t1_c66waco>.entry,
.thing.id-t1_c66waks>.entry,
.thing.id-t1_c66wbtb>.entry,
.thing.id-t1_c66wdvp>.entry,
.thing.id-t1_c66wfqp>.entry,
.thing.id-t1_c66wbxj>.entry,
.thing.id-t1_c66wdqf>.entry,
.thing.id-t1_c66wh0q>.entry,
.thing.id-t1_c66wada>.entry,
.thing.id-t1_c66w1ip>.entry,
.thing.id-t1_c66w71n>.entry,
.thing.id-t1_c66vxtj>.entry,
.thing.id-t1_c66wcq9>.entry,
.thing.id-t1_c66wi7g>.entry,
.thing.id-t1_c66wk8r>.entry,
.thing.id-t1_c66wlgu>.entry,
.thing.id-t1_c66wo7t>.entry,
.thing.id-t1_c66wh0q>.entry,
.thing.id-t1_c66wl5f>.entry,
.thing.id-t1_c66wlm8>.entry,
.thing.id-t1_c66woag>.entry,
.thing.id-t1_c66wq1l>.entry,
.thing.id-t1_c66wb7t>.entry,
.thing.id-t1_c66wc99>.entry,
.thing.id-t1_c66wglf>.entry,
.thing.id-t1_c66wkh4>.entry,
/* BWC */
.thing.id-t1_c7282i7>.entry,
.thing.id-t1_c728c69>.entry
{
  color: #00B4FF !important;
}

.thing.id-t1_c7282i7>.entry .usertext-body a,
.thing.id-t1_c728c69>.entry .usertext-body a
{
  color: #FFB100 !important;
}

.thing.id-t1_c7282i7>.entry .usertext-body a:hover,
.thing.id-t1_c728c69>.entry .usertext-body a:hover
{
  color: #FFFFFF !important;
}

.thing.id-t1_c7282i7>.entry .usertext-body strong,
.thing.id-t1_c728c69>.entry .usertext-body strong
{
  color: #FFFFFF !important;
}