/***
 * Countdown.css
 * -- The countdown for mists of pandaria.
 * -- To update, just upload a new image named countdown
 */
/** +++ COUNTDOWN STARTS +++ **/

/* Mists of Pandaria sidebar */
.side h5 a {
  background:url('%%thunderkinglogo%%');
  border-radius:1em;
  border:1px solid #322;
  width:350px;
  height:215px;
  display:block;
  position:absolute;
  top:242px;
  right:21px;
  z-index:99999;
  text-indent:-999em;
}

.side h5 a:hover {
  box-shadow:0 0 5px #99b;
  }

/** +++ COUNTDOWN ENDS +++ */
