/***
 * Countdown.css
 * -- The countdown for mists of pandaria.
 * -- To update, just upload a new image named countdown
 */
/** +++ COUNTDOWN STARTS +++ **/

/* Mists of Pandaria sidebar */
.side h5 a {
  background:url('%%patch-logo%%') no-repeat center top;
  width:262px;
  height:131px;
  display:block;
  position:absolute;
  top:228px;
  right:34px;
  z-index:100;
  text-indent:-999em;
}

.side h5 a:hover {
  background-position:center bottom;
  }

/** +++ COUNTDOWN ENDS +++ */
