/* MENU STUFF */

.titlebox blockquote {
    position: absolute;
    display: block;
    top: 172px;
    left:0;
    right: 0;
    height: 32px;
    border-bottom:1px solid #120910;
    background: url('%%texturebar%%') repeat-x #4e1b10;
    z-index: 50;
    font-size: 12px;
    margin: 0px;
    padding: 3px 0 0 36px;
    color: #d2bfa4;
    border-left:0 !important;
    }

.titlebox blockquote li {
    list-style:none;
    }
.titlebox blockquote a {
    color:#d2bfa4;
    }



/*turns top quote in sidebar into menu container*/

.titlebox blockquote:first-child {
  border-left: none !important;
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0px;
  height: 32px;
  box-shadow: 0px 1px 3px #210E07;
}



/*turns the lists into menus*/

.titlebox blockquote ul {
    float: left;
    margin:0px 4px;
}



/*hide and styles lists*/

.titlebox blockquote ul li {
display: none;
text-align: left;
}

/*makes whole list item selectable*/

.titlebox blockquote li a {
display:block;
}

/*shows menu on hover*/

.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li, .titlebox blockquote ul li:hover {
  display: block;
}
/*turns top list item into section header*/

.titlebox blockquote li:first-child { 
padding: 0;
cursor:default;
}

/* setting up spacing for dropdown links so dropdown dividers work*/

.titlebox blockquote ul li a {
display:block;
padding:5px 12px;
}

/* hovering a dropdown option*/

.titlebox blockquote ul li a:hover {
color: #d2bfa4;
}


/* dropdown selection item */
.titlebox blockquote ul li:nth-child(2) {
  border-top: 1px #100 solid;
  }
.titlebox blockquote ul li {
  background: url('%%texturebar%%') repeat-x #4e1b10;
  border-left: 1px #100 solid;
  border-bottom: 1px #100 solid;
  border-right: 1px #100 solid;
  font-size: 12px;
  line-height: 22px;
  min-width: 125px;
  color: #d2bfa4;
}


/* menu top-level option*/

.titlebox blockquote ul li:first-child{
  background: none;
  text-align: center;
  border: none;
  line-height: 32px;
  min-width: 0;
  padding:0;
  color: #d2bfa4;
}

/* when hovering over dropdown selection item */

.titlebox blockquote ul li a:hover{
  background:#200;
}
/* when hovering over menu top-level option*/

.titlebox blockquote ul li:first-child:hover{
  background: #200;
}

.titlebox blockquote ul:first-child{
margin-left: 15px;}

/*custom size for menu sections*/

.titlebox blockquote ul:nth-of-type(1) li{width:145px;}
.titlebox blockquote ul:nth-of-type(1), .titlebox blockquote ul:nth-of-type(1) li:first-child{width:57px;}

.titlebox blockquote ul:nth-of-type(2) li{width:100px;}
.titlebox blockquote ul:nth-of-type(2), .titlebox blockquote ul:nth-of-type(2) li:first-child{width:89px;}

.titlebox blockquote ul:nth-of-type(3) li{width:145px;}
.titlebox blockquote ul:nth-of-type(3), .titlebox blockquote ul:nth-of-type(3) li:first-child{width:138px;}

.titlebox blockquote ul:nth-of-type(4) li{width:160px;}
.titlebox blockquote ul:nth-of-type(4), .titlebox blockquote ul:nth-of-type(4) li:first-child{width:106px;}

.titlebox blockquote ul:nth-of-type(5) li{width:145px;}
.titlebox blockquote ul:nth-of-type(5), .titlebox blockquote ul:nth-of-type(5) li:first-child{width:86px;}

.titlebox blockquote ul:nth-of-type(6) li{width:135px;}
.titlebox blockquote ul:nth-of-type(6), .titlebox blockquote ul:nth-of-type(6) li:first-child{width:96px;}
