.titlebox blockquote {
  background: url('%%menu-repeat%%') repeat-x;
  padding: 29px 0 39px 0;
  position:absolute;
  top:130px;
  left:159px;
  z-index:8;
  border-left:0 !important;
}
.titlebox blockquote::before {
  content:'';
  display:block;
  height:90px;
  width:158px;
  background: url('%%menu-left%%') no-repeat;
  position:absolute;
  left:-158px;
  top:1px;
  }
.titlebox blockquote::after {
  content:'';
  display:block;
  height:90px;
  width:158px;
  background: url('%%menu-right%%') no-repeat;
  position:absolute;
  right:-158px;
  top:1px;
  }

#header-bottom-left .tabmenu li {
  height: 18px;
  display: block;
  float: left;
  background: transparent;
}

#header-bottom-left .tabmenu li a {
  background: transparent;
  border: none;
  text-align: center;
  display: block;
  color: #eee;
}

#header-bottom-left .tabmenu li a:hover {
  color: #FFFFFF;
}

#header-bottom-left .tabmenu li.selected a {
  background: transparent;
  border: none;
  display: block;
}

.titlebox blockquote ul {
  float:left;
  margin:0px 4px;
  }

.titlebox blockquote ul:hover {
  background:#222;
  }

.titlebox blockquote ul li {
  display:none;
  text-align:left;
  }

.titlebox blockquote li a {
  display:block;
  }
.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li,
.titlebox blockquote ul li:hover {
  display:block;
  }
 .titlebox blockquote li:first-child {
  padding:0;
  cursor:default;
  }


.titlebox blockquote ul li a {
  display:block;
  padding:5px 12px;
  color:#eee;
  }

/* dropdown selection item */
.titlebox blockquote ul li:nth-child(2) {
  border-top: 1px #100 solid;
  }
.titlebox blockquote ul li {
  border-left: 1px #100 solid;
  border-bottom: 1px #100 solid;
  border-right: 1px #100 solid;
  font-size: 12px;
  line-height: 22px;
  min-width: 125px;
  color: #eee;
  background:#222;
}


/* menu top-level option*/

.titlebox blockquote ul li:first-child {
  background: none;
  text-align: center;
  border: none;
  line-height: 32px;
  min-width: 0;
  padding:0;
  color: #fff;
}

/* when hovering over dropdown selection item */

.titlebox blockquote ul li a:hover {
  background:#bbb;
  color:#222;
  }
/* when hovering over menu top-level option*/

.titlebox blockquote ul li:first-child:hover {
  background: #222;
}

.titlebox blockquote ul:first-child {
margin-left: 15px;}

/* Reddit Guilds should be formatted to put gname / server on seperate lines */
 .titlebox blockquote ul li a strong {display:block;}

/*custom size for menu sections*/

.titlebox blockquote ul:nth-of-type(1) li{width:145px;}
.titlebox blockquote ul:nth-of-type(1), .titlebox blockquote ul:nth-of-type(1) li:first-child{width:57px;}

.titlebox blockquote ul:nth-of-type(2) li{width:100px;}
.titlebox blockquote ul:nth-of-type(2), .titlebox blockquote ul:nth-of-type(2) li:first-child{width:89px;}

.titlebox blockquote ul:nth-of-type(3) li{width:200px;}
.titlebox blockquote ul:nth-of-type(3), .titlebox blockquote ul:nth-of-type(3) li:first-child{width:100px;}

.titlebox blockquote ul:nth-of-type(4) li{width:160px;}
.titlebox blockquote ul:nth-of-type(4), .titlebox blockquote ul:nth-of-type(4) li:first-child{width:106px;}

.titlebox blockquote ul:nth-of-type(5) li{width:145px;}
.titlebox blockquote ul:nth-of-type(5), .titlebox blockquote ul:nth-of-type(5) li:first-child{width:86px;}

.titlebox blockquote ul:nth-of-type(6) li{width:135px;}
.titlebox blockquote ul:nth-of-type(6), .titlebox blockquote ul:nth-of-type(6) li:first-child{width:135px;}
