/***
 * Events.css
 * -- This file styles the H4 element on the sidebar.
 * -- Special hackery for large events we are promoting.
 * -- Parental Advisory: This file contains crazy fucked up code.
 */

/** +++ BATTLE.NET WORLD INVITATIONAL START +++ **/
/*
.side .usertext h4 {
    position:absolute;
    z-index: 9000;
    top:160px;
    left:0px;
    right: 9px;
    color: #000;
    text-align: left;
    margin-left:15px;
    margin-right: 410px;
    background-color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    padding: 7px 0px 7px 20px;
  background: url('../images/thread-background-blizzard.png') repeat-x #0A0E1C !important;
    color: #00B4FF !important;
    display: block;
}

.side .usertext h4 strong {
    color: #FFFFFF;
}

.side .usertext h4 a, .side .usertext h4 a:visited {
    color: #FFB100;
}

.side .usertext h4 a:hover {
    color: #FFFFFF;
}

div.content {
margin-top: 70px !important;
}*/

/** +++ BATTLE.NET WORLD INVITATIONAL END +++ **/