/***
 * Countdown.css
 * -- The countdown for mists of pandaria.
 * -- To update, just upload a new image named countdown
 */
/** +++ COUNTDOWN STARTS +++ **/

/* Mists of Pandaria sidebar */
.side h5 a {
  background:url('%%patch-logo%%') no-repeat center top;
  width:262px;
  height:131px;
  display:block;
  position:absolute;
  top:355px;
  right:34px;
  z-index:100;
  text-indent:-999em;
}
.side h5 + h5 a {
  top:475px;
  background:url('%%expansion-logo%%') no-repeat center top;
  }

.side h5 a:hover {
  background-position:center bottom;
  }


.md a[href$='#bconpromo'] {
    background: url(%%bcon-promo%%);
    background-position: 0px 0px;
    display: block;
    font-size: 0;
    height: 50px;
    width: 690px;
    }



/** +++ COUNTDOWN ENDS +++ */


