/***
 * Flair.css
 * This also handles username styling
 */

/* Text flair colour */

.flair { color:#00FF96;}

/* Moderators */
.comment a.author.moderator, .comment a.author.moderator:visited {
  color: #FFFFFF !important;
  background-color: #228822 !important;
  border-radius: 3px;
}
 
/* People without Flair (aka n00bs) */
a.author {
  color: #FFFFFF;
  padding-right:4px;
}

a.author.submitter, a.author.submitter:visited { 
  color: #000000 !important;
  padding: 2px 4px !important;
  border-radius: 3px !important; 
  background: #008467 !important;
  border: none !important;
}

/* People with Flair - General Rules */
 .flair {
  padding: 1px 3px;
  margin: 0px;
  background: none;
  border: 0;
  border-radius: 0;
  position:relative;
  top:-3px;
}

.flair:after {
  background: url('../images/sprites/flair.png') no-repeat scroll 16px 16px transparent;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
  height: 18px;
}

.flair+.author {
  font-weight: bold !important;
  padding: 4px 5px 4px 2px !important;
  vertical-align: middle !important;
  position:relative;
  top:-3px;
}

p.tagline, .tagline { height: 18px; margin: 4px 0 0; border: 0px; }
.tagline a:hover, .fancy-toggle-button a:hover { border-bottom: 0px; }

/**
 * CSS sprite code generated by Fluxflashor's Flair Generator
 * http://github.com/Fluxflashor/flairgen
 * Generated at: 1345276299.92
 **/
.flair-alliance:after{ content: ""; background-position: 0px -0px; width: 18px; }
.flair-horde:after{ content: ""; background-position: 0px -18px; width: 18px; }
.flair-warlock:after{ content: ""; background-position: 0px -36px; width: 18px; }
.flair-warrior:after{ content: ""; background-position: 0px -54px; width: 18px; }
.flair-paladin:after{ content: ""; background-position: 0px -72px; width: 18px; }
.flair-hunter:after{ content: ""; background-position: 0px -90px; width: 18px; }
.flair-druid:after{ content: ""; background-position: 0px -108px; width: 18px; }
.flair-monk:after{ content: ""; background-position: 0px -126px; width: 18px; }
.flair-priest:after{ content: ""; background-position: 0px -144px; width: 18px; }
.flair-rogue:after{ content: ""; background-position: 0px -162px; width: 18px; }
.flair-shaman:after{ content: ""; background-position: 0px -180px; width: 18px; }
.flair-deathknight:after{ content: ""; background-position: 0px -198px; width: 18px; }
.flair-mage:after{ content: ""; background-position: 0px -216px; width: 18px; }
.flair-alliance-warlock:after{ content: ""; background-position: 0px -234px; width: 36px; }
.flair-alliance-warrior:after{ content: ""; background-position: 0px -252px; width: 36px; }
.flair-alliance-paladin:after{ content: ""; background-position: 0px -270px; width: 36px; }
.flair-alliance-hunter:after{ content: ""; background-position: 0px -288px; width: 36px; }
.flair-alliance-druid:after{ content: ""; background-position: 0px -306px; width: 36px; }
.flair-alliance-monk:after{ content: ""; background-position: 0px -324px; width: 36px; }
.flair-alliance-priest:after{ content: ""; background-position: 0px -342px; width: 36px; }
.flair-alliance-rogue:after{ content: ""; background-position: 0px -360px; width: 36px; }
.flair-alliance-shaman:after{ content: ""; background-position: 0px -378px; width: 36px; }
.flair-alliance-deathknight:after{ content: ""; background-position: 0px -396px; width: 36px; }
.flair-alliance-mage:after{ content: ""; background-position: 0px -414px; width: 36px; }
.flair-horde-warlock:after{ content: ""; background-position: 0px -432px; width: 36px; }
.flair-horde-warrior:after{ content: ""; background-position: 0px -450px; width: 36px; }
.flair-horde-paladin:after{ content: ""; background-position: 0px -468px; width: 36px; }
.flair-horde-hunter:after{ content: ""; background-position: 0px -486px; width: 36px; }
.flair-horde-druid:after{ content: ""; background-position: 0px -504px; width: 36px; }
.flair-horde-monk:after{ content: ""; background-position: 0px -522px; width: 36px; }
.flair-horde-priest:after{ content: ""; background-position: 0px -540px; width: 36px; }
.flair-horde-rogue:after{ content: ""; background-position: 0px -558px; width: 36px; }
.flair-horde-shaman:after{ content: ""; background-position: 0px -576px; width: 36px; }
.flair-horde-deathknight:after{ content: ""; background-position: 0px -594px; width: 36px; }
.flair-horde-mage:after{ content: ""; background-position: 0px -612px; width: 36px; }

/* The below code gives usernames pretty class/faction colored styling */
.flair-alliance+.author { color: #247FAA !important; }
.flair-horde+.author { color: #B30000 !important; }
.flair-deathknight+.author,.flair-alliance-deathknight+.author,.flair-horde-deathknight+.author { color: #C41F3B !important; }
.flair-druid+.author,.flair-alliance-druid+.author,.flair-horde-druid+.author { color: #FF7D0A !important; }
.flair-hunter+.author,.flair-alliance-hunter+.author,.flair-horde-hunter+.author { color: #ABD473 !important; }
.flair-mage+.author,.flair-alliance-mage+.author,.flair-horde-mage+.author { color: #69CCF0 !important; }
.flair-monk+.author,.flair-alliance-monk+.author,.flair-horde-monk+.author { color: #00FF96 !important; }
.flair-paladin+.author,.flair-alliance-paladin+.author,.flair-horde-paladin+.author { color: #F58CBA !important; }
.flair-priest+.author,.flair-alliance-priest+.author,.flair-horde-priest+.author { color: #FFFFFF !important; }
.flair-rogue+.author,.flair-alliance-rogue+.author,.flair-horde-rogue+.author { color: #FFF569 !important; }
.flair-shaman+.author,.flair-alliance-shaman+.author,.flair-horde-shaman+.author { color: #0070DE !important; }
.flair-warlock+.author,.flair-alliance-warlock+.author,.flair-horde-warlock+.author { color: #9482C9 !important; }
.flair-warrior+.author,.flair-alliance-warrior+.author,.flair-horde-warrior+.author { color: #C79C6E !important; }

 /* Let thread submitters keep awesome flair related colorschemes */
.flair-alliance+a.submitter, .flair-alliance+a.submitter:visited
  { background-color: #247FAA !important; color: #FFFFFF !important; }
.flair-horde+a.submitter, .flair-horde+a.submitter:visited
  { background-color: #B30000 !important; color: #FFFFFF !important; }
.flair-deathknight+a.submitter,.flair-alliance-deathknight+a.submitter,.flair-horde-deathknight+a.submitter,
.flair-deathknight+a.submitter:visited,.flair-alliance-deathknight+a.submitter:visited,.flair-horde-deathknight+a.submitter:visited
  { background-color: #C41F3B !important; color: #FFFFFF !important; }
.flair-druid+a.submitter,.flair-alliance-druid+a.submitter,.flair-horde-druid+a.submitter,
.flair-druid+a.submitter:visited,.flair-alliance-druid+a.submitter:visited,.flair-horde-druid+a.submitter:visited
  { background-color: #FF7D0A !important; color: #FFFFFF !important; }
.flair-hunter+a.submitter,.flair-alliance-hunter+a.submitter,.flair-horde-hunter+a.submitter,
.flair-hunter+a.submitter:visited,.flair-alliance-hunter+a.submitter:visited,.flair-horde-hunter+a.submitter:visited
  { background-color: #ABD473 !important; color: #000000 !important; }
.flair-mage+a.submitter,.flair-alliance-mage+a.submitter,.flair-horde-mage+a.submitter,
.flair-mage+a.submitter:visited,.flair-alliance-mage+a.submitter:visited,.flair-horde-mage+a.submitter:visited
  { background-color: #69CCF0 !important; color: #000000 !important; }
.flair-monk+a.submitter,.flair-alliance-monk+a.submitter,.flair-horde-monk+a.submitter,
.flair-monk+a.submitter:visited,.flair-alliance-monk+a.submitter:visited,.flair-horde-monk+a.submitter:visited
  { background-color: #00FF96 !important; color: #000000 !important; }
.flair-paladin+a.submitter,.flair-alliance-paladin+a.submitter,.flair-horde-paladin+a.submitter,
.flair-paladin+a.submitter:visited,.flair-alliance-paladin+a.submitter:visited,.flair-horde-paladin+a.submitter:visited
  { background-color: #F58CBA !important; color: #000000 !important;}
.flair-priest+a.submitter,.flair-alliance-priest+a.submitter,.flair-horde-priest+a.submitter,
.flair-priest+a.submitter:visited,.flair-alliance-priest+a.submitter:visited,.flair-horde-priest+a.submitter:visited
  { background-color: #FFFFFF !important; color: #000000 !important; }
.flair-rogue+a.submitter,.flair-alliance-rogue+a.submitter,.flair-horde-rogue+a.submitter,
.flair-rogue+a.submitter:visited,.flair-alliance-rogue+a.submitter:visited,.flair-horde-rogue+a.submitter:visited
  { background-color: #FFF569 !important;  color: #000000 !important; }
.flair-shaman+a.submitter,.flair-alliance-shaman+a.submitter,.flair-horde-shaman+a.submitter,
.flair-shaman+a.submitter:visited,.flair-alliance-shaman+a.submitter:visited,.flair-horde-shaman+a.submitter:visited
  { background-color: #0070DE !important; color: #FFFFFF !important; }
.flair-warlock+a.submitter,.flair-alliance-warlock+a.submitter,.flair-horde-warlock+a.submitter,
.flair-warlock+a.submitter:visited,.flair-alliance-warlock+a.submitter:visited,.flair-horde-warlock+a.submitter:visited
  { background-color: #9482C9 !important; color: #000000 !important; }
.flair-warrior+a.submitter,.flair-alliance-warrior+a.submitter,.flair-horde-warrior+a.submitter,
.flair-warrior+a.submitter:visited,.flair-alliance-warrior+a.submitter:visited,.flair-horde-warrior+a.submitter:visited
  { background-color: #C79C6E !important; color: #FFFFFF  !important; }

/* Friends with Flair - Get a special icon in addition to their normal looks */
a.author.friend, a.author.friend:hover {
  background: none !important;
  border: none !important;
}

a.author.friend:hover {
  text-decoration: underline;
}

a.author.friend::after {
  content: url('../images/friend-icon.png');
  margin-left: 3px;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 16px;
}

.flair-alliance+a.author.friend { color: #247FAA !important; }
.flair-horde+a.author.friend { color: #B30000 !important; }
.flair-deathknight+a.author.friend,.flair-alliance-deathknight+a.author.friend,.flair-horde-deathknight+a.author.friend { color: #C41F3B !important; }
.flair-druid+a.author.friend,.flair-alliance-druid+a.author.friend,.flair-horde-druid+a.author.friend { color: #FF7D0A !important; }
.flair-hunter+a.author.friend,.flair-alliance-hunter+a.author.friend,.flair-horde-hunter+a.author.friend { color: #ABD473 !important; }
.flair-mage+a.author.friend,.flair-alliance-mage+a.author.friend,.flair-horde-mage+a.author.friend { color: #69CCF0 !important; }
.flair-monk+a.author.friend,.flair-alliance-monk+a.author.friend,.flair-horde-monk+a.author.friend { color: #00FF96 !important; }
.flair-paladin+a.author.friend,.flair-alliance-paladin+a.author.friend,.flair-horde-paladin+a.author.friend { color: #F58CBA !important; }
.flair-priest+a.author.friend,.flair-alliance-priest+a.author.friend,.flair-horde-priest+a.author.friend { color: #FFFFFF !important; }
.flair-rogue+a.author.friend,.flair-alliance-rogue+a.author.friend,.flair-horde-rogue+a.author.friend { color: #FFF569 !important; }
.flair-shaman+a.author.friend,.flair-alliance-shaman+a.author.friend,.flair-horde-shaman+a.author.friend { color: #0070DE !important; }
.flair-warlock+a.author.friend,.flair-alliance-warlock+a.author.friend,.flair-horde-warlock+a.author.friend { color: #9482C9 !important; }
.flair-warrior+a.author.friend,.flair-alliance-warrior+a.author.friend,.flair-horde-warrior+a.author.friend { color: #C79C6E !important; }


/* Flair selector box */
li.flairsample-left { padding-top: 5px; }

/*____ The following section is flair that is related to special posters. ____*/

/* Pandasnoo creator */

.flair-pandasnoo::after {
  content: url('../images/flair-pandasnoo.png') !important;
}

.flair-pandasnoo+.author { color: #FFFFFF; }

/* Blizzard Employees - Icons */
/* They have special flair classes that are not user selectable */

.flair-blizzard::after {
  content: url('../images/flair-blizzard.png') !important;
  width: 20px;
  height: 13px;
}

.flair-rainbowdash::after {
  content: url('../images/flair-ghostcrawler.png');
  width: 47px;
  height: 22px;
}

.flair-blizzard+.author, .flair-rainbowdash+.author { color: #00B4FF !important; }

/* Blizzard Employees - Job Titles */
a.author[href$='reddit.com/user/Ghostcrawler']:after, a.author[href$='reddit.com/user/Kalgan']:after,
a.author[href$='reddit.com/user/Zarhym']:after, a.author[href$='reddit.com/user/TheFargo']:after,
a.author[href$='reddit.com/user/WatcherDev']:after, a.author[href$='reddit.com/user/Araxom']:after {
  margin-left: 5px;
  padding: 2px 4px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #1D1D1D;
}

a.author[href$='reddit.com/user/Ghostcrawler']:after { content: "Greg Street (Lead Systems Designer)"; }
a.author[href$='reddit.com/user/Kalgan']:after { content: "Tom Chilton (Game Director)"; }
a.author[href$='reddit.com/user/Zarhym']:after { content: "Jonathan Brown (Community Manager)"; }
a.author[href$='reddit.com/user/TheFargo']:after { content: "Dave Kosak (Lead Quest Designer)"; }
a.author[href$='reddit.com/user/WatcherDev']:after { content: "Ion Hazzikostas (Lead Encounter Designer)"; }
a.author[href$='reddit.com/user/Araxom']:after { content: "Blizzard Customer Support"; }


/* Popular WoWFansite Flairs */
.flair-fansite-wowhead::after { 
  content: url('../images/flair-wowhead.png') !important;
  width: 29px;
  height: 16px;
}

.flair-fansite-wowhead+.author, .flair-fansite-wowhead+.author:visited  { color: #C41F3B !important;}
.flair-fansite-wowhead+a.submitter, .flair-fansite-wowhead+a.submitter:visited{ background-color: #C41F3B !important; color: #FFFFFF !important; }

.flair-fansite-mmochampion::after { 
  content: url('../images/flair-mmochampion.png') !important;
  width: 29px;
  height: 16px;
}

.flair-fansite-wowinsider::after { 
  content: url('../images/flair-wowinsider.png') !important;
  width: 101px;
  height: 14px;
}

.flair-fansite-askmrrobot::after { 
  content: url('../images/flair-askmrrobot.png') !important;
  width: 29px;
  height: 16px;
}

/* WoWCaretaker */

.flair-robot-wowcaretaker::after {
  content: "";
  background: url('../images/sprites/modicons.png') no-repeat -1px -51px;
  width: 20px;
  height: 21px;
}

.flair-robot-wowcaretaker+.author, .flair-robot-wowcaretaker+.author:visited { color: #FFB100 !important; vertical-align: baseline !important;}
.flair-robot-wowcaretaker+.submitter, .flair-robot-wowcaretaker+.submitter:visited { color: #000000 !important; vertical-align: baseline !important; background-color: #FFB100 !important; }

/* Goldmaking AMA Thread */
.flair-goldama::after {
  content: url('../images/flair-goldcoin.png') !important;
  width: 14px;
  height: 14px;
}

.flair-goldama+a.author, .flair-goldama+a.author:visited { background-color: #FFB100 !important; color: #000000 !important; vertical-align: baseline !important; border-radius: 4px !important; }
.flair-goldama+a.submitter, .flair-goldama+a.submitter:visited { background-color: #FFB100 !important; color: #000000 !important; vertical-align: baseline !important; border-radius: 4px !important; }

/* TODO: Figure out a way to just use the fucking thread id to change 3 user's flairs */

/* Scamming Douchebag List
reddit.com/user/whoisthismilfhere was here originally, got removed
*/
.tagline a[href$="reddit.com/user/pierpont123"]:after, 
.collapsed a[href$="reddit.com/user/pierpont123"]:after {
  color: red;
  content: "  I am a scamming douchebag. AMA";
}
