/***
 * General.css
 * Things that just don't fit anywhere else and don't need their ownfile
 */
body {
  background-color:#ebefdb;
  background: url('%%body-background%%') center top;
  color: #222;
  position:relative;
}

div.content {
  z-index:1;
  margin-bottom:140px;
  }

.link.promotedlink.promoted a, .thing .title a {margin-top:0 !important;}

a {
  color: #128;
}

.comment button.save:hover:after, .usertext-buttons button.save:hover:after {
  position: absolute;
  display: block;
  z-index: 1000;
  width: 260px;
  padding: 5px;
  font-size: 10px;
  color: #FFF;
  font-weight: bold;
  background: #222;
  content: "Racist, ethnic, sexist, homophobic, or otherwise hateful slurs of any kind will lead to a lifetime ban.";
  margin-left: 39px;
  margin-top: -17px;
  text-align: left;
  line-height: 1.5em;
  text-transform: none;
}

/*#url-field button:hover {
  background: #2f1D0E;
  cursor: pointer;
}*/

.formtabs-content {
  border: none;
  padding-top: 0px;
}


/* Search page settings */

.searchpane {
  margin:25px 418px 5px 0;
  background-color:rgba(0,0,0,0.25);
  color:#eee;
  }
.raisedbox {
  border:1px solid #010c0f;
  }

/* Moderator Tools */

.linefield {
  background-color: rgba(255,255,255,0.5);
  border: none;
  color:#111;
}

