/* Gold Users */

.new-comment .usertext-body {
  background-color: #120;
  border:1px dotted #333;
  color: #eee !important;
  padding: 3px 10px;
  margin: 5px 5px 5px 0;
}
.new-comment .usertext-body .md p, .new-comment .usertext-body .md li {
  color:#eee !important;
  }
.new-comment .usertext-body .md a {
  color:#00ecba !important;
  }
.gold-accent {
  background-color:#120;
  border:0 !important;
  color:#eee !important;
  }
