/***
 * Header.css
 */

/* Subreddit Listing Bar / Shared */
#sr-header-area, #header-bottom-right {
  padding: 10px 0px 10px 5px;
  background-color: #1d1d1d;
  color: #EEEEEE;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #1d1d1d;
  font-size: 90%
}

#sr-header-area { text-transform: uppercase; }

#sr-more-link {
  background-color: #1d1d1d;
  padding: 5px 5px 5px 15px;
  top: -5px;
  color: #EEEEEE
}

.dropdown.srdrop .selected, .sr-bar a { color: #eee }

.srdrop.drop-choices {
  background:#1d1d1d !important;
}

.srdrop.drop-choices a:hover{
  color:#eee !important;
  background:#787878 !important;

}


/* Header Image */
#header {
  /* background:url(%%header%%); */
  background:url('../images/header.png');
  background-position:center;
  border-bottom:1px solid #000;
  height:150px;
}

#header-img {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 15px
}

/* User information block - making this baby "bnet style" */ 
#header-bottom-right {
  position: absolute;
  right: 0px;
  top:0px !important;
  bottom: 0px;
  height: 18px;
  border-radius: 0px;
  color: #797e84;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 7px;
  font-size: 10px;
}

#header-bottom-right a {
  color: #797e84;
}

#header-bottom-right > * { position: relative; top: 4px; }

/* Mail */
#mail { width: 13px; height: 9px; position: relative; top: 5px; }
#modmail { width: 16px; height: 16px; }

#mail.nohavemail { background-image: url('../images/icons/mail_nonew.png'); background-position: -0 -0; background-repeat: no-repeat; }
#modmail.nohavemail { background-image: url('../images/icons/modmail_nonew.png'); background-position: -0 -0; background-repeat: no-repeat; }

#mail.havemail { background-image: url('../images/icons/mail_new.png'); background-position: -0 -0; background-repeat: no-repeat; }
#modmail.havemail { background-image: url('../images/icons/modmail_new.png'); background-position: -0 -0; background-repeat: no-repeat; }

/* Logo, Redditname, Tabmenu */

#header-bottom-left {
  position: absolute;
  bottom: 0;
}

.tabmenu {
  background: url('../images/thing-background.jpg');
  padding: 10px 10px 0 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabmenu li {
  height: 18px;
  display: block;
  float: left;
  background: transparent #CC00DD;
}

.tabmenu li a {
  background: transparent;
  border: none;
  text-align: center;
  display: block;
  color: #FFB100;
}

.tabmenu li a:hover {
  color: #FFFFFF;
}

.tabmenu li.selected a {
  background: transparent;
  border: none;
  display: block;
}