/***
 * Header.css
 */

/* World of reddit Logo */
.pagename a {
  display: block;
  background-image: url('%%reddit-mistslogo%%');
  background-repeat: no-repeat;
  margin: 0 auto;
  font-size: 0px;
  padding: 76px 0 0 0;
  color: #364657;
  left: 85px;
  position: absolute;
  top: 32px;
  width: 150px;
  background-position:center top;
}
.pagename a:hover {
background-position:center bottom;
}

/* Subreddit Listing Bar / Shared */
#sr-header-area, #header-bottom-right {
  background:url('%%topbar-transparent%%');
  padding: 10px 0px 10px 5px;
  color: #EEEEEE;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #1d1d1d;
  font-size: 90%;
}

#sr-header-area { text-transform: uppercase; }

#sr-more-link {
  background-color: #1d1d1d;
  padding: 5px 5px 5px 15px;
  top: -5px;
  color: #EEEEEE
}

.dropdown.srdrop .selected, .sr-bar a { color: #eee }

.srdrop.drop-choices {
  background:#1d1d1d !important;
}

.srdrop.drop-choices a:hover {
  color:#eee !important;
  background:#787878 !important;

}


/* Header Image */
#header {
  z-index:auto;
  background-color:#333;
  background-image:url('%%reddit-header-thunderking%%');
  background-position:center;
  border-bottom:1px solid #000;
  height:183px;
}

#header-img-a {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  height:100px;
  width:90px;
  background:url('%%hoversnoo%%');
  background-position:center bottom;
  display:inline-block;
}
#header-img-a:hover {
  background-position:center top;
  }
#header-img {display:none;}  


/* User information block - making this baby "bnet style" */ 
#header-bottom-right {
  position: absolute;
  top:39px !important;
  bottom: 0px;
  height: 18px;
  border-radius: 0px;
  color: #797e84;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 7px;
  font-size: 10px;
  z-index:9999;
}
#header-bottom-right a {
  color: #a1dfff;
}

#header-bottom-right .user {
margin-left:25px !important;
}

#header-bottom-right > * { position: relative; top: 4px; }

.flat-list.sr-bar {
  margin-right: 325px;
}

.sr-list .flat-list.sr-bar:first-child {
  margin-right: 0px;
}

/* Mail */
#mail { 
  width: 13px !important; 
  height: 10px !important; 
  position: relative !important; 
  top: 5px !important; 
}
#modmail { 
  width: 14px !important; 
  height: 12px !important; 
}

.nohavemail, .havemail {
  background-image: url('%%mail%%') !important;
}

#mail.nohavemail { background-position: -0px -0px; background-repeat: no-repeat; }
#mail.havemail { background-position: -0px -12px; background-repeat: no-repeat; }
#modmail.nohavemail { background-position: -0px -24px; background-repeat: no-repeat; }
#modmail.havemail { background-position: -0px -38px; background-repeat: no-repeat; }

/* Logo, Redditname, Tabmenu */

#header-bottom-left {
  position: relative;
  bottom: 0;
}

#header-bottom-left .tabmenu {
  background: url('%%thread-background-transparent%%') #29120A;
  padding: 7px 10px 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position:absolute;
  top:112px;
  left:10px;
}

#header-bottom-left .tabmenu li {
  height: 18px;
  display: block;
  float: left;
  background: transparent;
}

#header-bottom-left .tabmenu li a {
  background: transparent;
  border: none;
  text-align: center;
  display: block;
  color: #FFB100;
}

#header-bottom-left .tabmenu li a:hover {
  color: #FFFFFF;
}

#header-bottom-left .tabmenu li.selected a {
  background: transparent;
  border: none;
  display: block;
}
