/***
 * Header.css
 */

/* World of reddit Logo */
.pagename a {
  display: block;
  background-image: url('%%logo%%');
  background-repeat: no-repeat;
  margin: 0 auto;
  font-size: 0px;
  padding: 72px 0 0 0;
  color: #364657;
  left: 94px;
  position: absolute;
  top: 36px;
  width: 159px;
  background-position:center top;
  z-index:100;
}
.pagename a:hover {
background-position:center bottom;
}

/* Subreddit Listing Bar / Shared */
#sr-header-area, #header-bottom-right {
  background:rgba(0,0,0,0.5);
  padding: 5px 0px 5px 5px;
  color: #EEEEEE;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #1d1d1d;
  font-size: 90%;
}

#sr-header-area { text-transform: uppercase; }

#sr-more-link {
  background-color: #1d1d1d;
  padding: 5px 5px 5px 15px;
  top: -5px;
  color: #EEEEEE
}

.dropdown.srdrop .selected, .sr-bar a { color: #eee }

.srdrop.drop-choices {
  background:#1d1d1d !important;
}
.drop-choices a.choice {
  color:#eee;
  }

.srdrop.drop-choices a:hover {
  color:#eee !important;
  background:#787878 !important;

}


/* Header Image */
#header {
  z-index:auto;
  background:url('%%banner%%') #0f0806 center top no-repeat;;
  border-bottom:1px solid #000;
  height:150px;
}
#header::after {
  content:'';
  background:url('%%header-separator%%') repeat-x;
  height:71px;
  position:absolute;
  left:0;
  right:0;
  top:88px;
  }

#header-img-a {
  margin-top: 0;
  margin-right: 5px;
  margin-left: 15px;
  height:110px;
  width:70px;
  background:url('%%hoversnoo%%');
  background-position:center -4px;
  display:inline-block;
  position:relative;
  z-index:100;
}
#header-img-a:hover {
  background-position:center -115px;
  }
#header-img {display:none;}  


/* User information block - making this baby "bnet style" */ 
#header-bottom-right {
  position: absolute;
  top:29px !important;
  bottom: 0px;
  height: 18px;
  border-radius: 0px;
  color: #797e84;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 7px;
  font-size: 10px;
  z-index:90;
}
#header-bottom-right a {
  color: #a1dfff;
}

#header-bottom-right .user {
margin-left:25px !important;
}

#header-bottom-right > * { position: relative; top: 4px; }
/*
.flat-list.sr-bar {
  margin-right: 325px;
}
*/
.sr-list .flat-list.sr-bar:first-child {
  margin-right: 0px;
}

/* Mail */
#mail { 
  width: 13px !important; 
  height: 10px !important; 
  position: relative !important; 
  top: 5px !important; 
}
#modmail { 
  width: 14px !important; 
  height: 12px !important; 
}

.nohavemail, .havemail {
  background-image: url('%%mail%%') !important;
}

#mail.nohavemail { background-position: -0px -0px; background-repeat: no-repeat; }
#mail.havemail { background-position: -0px -12px; background-repeat: no-repeat; }
#modmail.nohavemail { background-position: -0px -24px; background-repeat: no-repeat; }
#modmail.havemail { background-position: -0px -38px; background-repeat: no-repeat; }

/* Logo, Redditname, Tabmenu */

#header-bottom-left {
  position: relative;
  bottom: 0;
  z-index:80;
}

#header-bottom-left .tabmenu {
  position:absolute;
  top:71px;
  left:256px;
  z-index:8;
  padding:5px;
  background:rgba(0,0,0,0.5);
  }
#header-bottom-left .tabmenu li {
  height:18px;
  display:block;
  float:left;
  background:transparent;
  }
#header-bottom-left .tabmenu li a {
  background:transparent;
  border:none;
  text-align:center;
  display:block;
  color:#ffb100;
  font-size:10px;
  }
#header-bottom-left .tabmenu li a:hover {
  color:#fff;
  }
#header-bottom-left .tabmenu li.selected a {
  color:#fff;
  }
 
