/***
 * Icons.css
 * Gives fake urls pretty icons!
 */

a[href$='#alliance-icon']:after, a[href$='#horde-icon']:after {
  background-image: url('../images/sprites/flair.png');
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

a[href$='#alliance-icon']:after { content: ""; background-position: 0px -0px; }

a[href$='#horde-icon']:after { content: ""; background-position: 0px -18px; }