/***
 * Linkflair.css
 */


/* The Linkflair Classes */

.linkflairlabel {border:none;padding:4px;font-size:10px;}
.linkflair-bluepost .linkflairlabel {background:#022642;color:#00b4ff}
.linkflair-modpost .linkflairlabel {color:#d2bfa4;background:#020}
.linkflair-lootpost .linkflairlabel {color:white;background:#260329;}
.linkflair-awesomepost .linkflairlabel {color:#d2bfa4;background:#571700;}


#siteTable .thing.linkflair-bluepost .domain, #siteTable .thing.linkflair-bluepost .domain a, #siteTable .thing.linkflair-bluepost .tagline { color: #888877; }

#siteTable .thing.linkflair-bluepost .entry .buttons li a { color: #888877; font-weight: bold; }

#siteTable .thing.linkflair-bluepost {
  background: url('../images/thread-background-transparent.png') repeat-x #022642 !important;
  color: #00B4FF !important;
}

#siteTable .thing.linkflair-bluepost .title {
  color: #00B4FF !important;
}
#siteTable .thing.linkflair-modpost a {
  color:#07D97F;
}
#siteTable .thing.linkflair-modpost .md h2 {
  color: #D2BFA4;
}
#siteTable .thing.linkflair-lootpost {
  background: url('../images/thread-background-transparent.png') repeat-x #260329;
}
#siteTable .thing.linkflair-modpost {
  background: url('../images/thread-background-transparent.png') repeat-x #020;
  color:#cdc;
  }
#siteTable .thing.linkflair-awesomepost {
  background: url('../images/thread-background-transparent.png') repeat-x #571700;
  }

.linkflairlabel { display: none; }
.flairoptionpane .linkflairlabel { display: inline-block; }

.thing a.thumbnail {
  width: 76px;
  height: 76px;
}

.thing a.thumbnail img {
  width: 54px !important;
  height: 54px !important;
  position: relative;
  top: 12px;
  left: 11px;
}

.thing a.thumbnail::after {
  content: url('../images/linkflair-border.png');
  z-index: 2;
  position: absolute;
  left: 52px;
  margin-top: 3px;
}

.thing a.thumbnail img {
  width: 56px;
  height: 56px;
}

/* All custom link flair thumbs */

.linkflair a.thumbnail, a.thumbnail.default, a.thumbnail.self, a.thumbnail.nsfw {
  background-image: url('../images/sprites/linkflair.png') !important;
}

a.thumbnail.default, a.thumbnail.self { background-position: -0px -1140px !important; }

/** Note on the way the math works: 
 *  To get the background y position just take the pos_sprite
 *  subtract 1 from it, multiply by 76 and then subtract 3.
 *  This is only needed for linkflair, not thumbnails. **/
.linkflair-deathknight a.thumbnail { background-position: -0px -0px !important; }
.linkflair-druid a.thumbnail { background-position: -0px -73px !important; }
.linkflair-hunter a.thumbnail { background-position: -0px -149px !important; }
.linkflair-mage a.thumbnail { background-position: -0px -225px !important; }
.linkflair-monk a.thumbnail { background-position: -0px -301px !important; }
.linkflair-paladin a.thumbnail { background-position: -0px -377px !important; }
.linkflair-priest a.thumbnail { background-position: -0px -453px !important; }
.linkflair-rogue a.thumbnail { background-position: -0px -529px !important; }
.linkflair-shaman a.thumbnail { background-position: -0px -605px !important; }
.linkflair-warlock a.thumbnail { background-position: -0px -681px !important; }
.linkflair-warrior a.thumbnail { background-position: -0px -757px !important; }
.linkflair-lore a.thumbnail { background-position: -0px -833px !important; }
.linkflair-pvp a.thumbnail { background-position: -0px -909px !important; }
.linkflair-raiding a.thumbnail { background-position: -0px -985px !important; }
.linkflair-bluepost a.thumbnail { background-position: -0px -1061px !important; }
.linkflair-general a.thumbnail { background-position: -0px -1213px !important; }
.linkflair-modpost a.thumbnail { background-position: -0px -1364px !important; }

/* NSFW goes at the end because it will always override linkflair */
a.thumbnail.nsfw { background-position: -0px -1292px !important; }

