/***
 * Linkflair.css
 */

/* The Linkflair Classes */
.linkflairlabel {border:none;padding:4px;font-size:10px;}
.linkflair-bluepost .linkflairlabel {background:rgba(0,0,99,0.4);color:#00b4ff}
.linkflair-modpost .linkflairlabel {background:rgba(0,99,0,0.2);}
.linkflair-lootpost .linkflairlabel {background:rgba(99,0,99,0.2);}
.linkflair-awesomepost .linkflairlabel {background:rgba(212,212,212,0.7);}
.linkflair-murloc .linkflairlabel {}
.linkflair-tank .linkflairlabel {}
.linkflair-heal .linkflairlabel {}
.linkflair-raid .linkflairlabel {}
.linkflair-switchup .linkflairlabel {}
.linkflair-pvp .linkflairlabel {}

/* BLUEPOSTS */
#siteTable .thing.linkflair-bluepost .title {
  color: #158 !important;
}

/*MODPOST*/
#siteTable .thing.linkflair-modpost a {
  color:#07D97F;
}
#siteTable .thing.linkflair-modpost .md h2 {
  color: #D2BFA4;
}
#siteTable .thing.linkflair-lootpost {
  background:rgba(99,0,99,0.2);
}
#siteTable .thing.linkflair-modpost {
  background:rgba(160,255,160,0.2);
  }
#siteTable .thing.linkflair-awesomepost {
  background:rgba(212,212,212,0.7);
  }
#siteTable .thing.reported, #siteTable .thing.spam {
  background:rgba(99,0,0,0.2);
}
#siteTable .thing.linkflair-bluepost {
  background:rgba(175,175,255,0.2);
  }

.linkflairlabel { display: none; }
.flairoptionpane .linkflairlabel { display: inline-block; }

.thing a.thumbnail {
  width: 76px;
  height: 76px;
}

.thing a.thumbnail img {
  width: 54px !important;
  height: 54px !important;
  position: relative;
  top: 12px;
  left: 11px;
}

.thing a.thumbnail::after {
  content: url('%%linkflair-border%%');
  z-index: 2;
  position: absolute;
  left: 52px;
  margin-top: 3px;
}

.thing a.thumbnail img {
  width: 56px;
  height: 56px;
}

/* All custom link flair thumbs */

.linkflair a.thumbnail, a.thumbnail.default, a.thumbnail.self, a.thumbnail.nsfw {
  background-image: url('%%linkflair%%') !important;
}

a.thumbnail.default, a.thumbnail.self { background-position: -0px -1140px !important; }

/** Note on the way the math works: 
 *  To get the background y position just take the pos_sprite
 *  subtract 1 from it, multiply by 76 and then subtract 3.
 *  This is only needed for linkflair, not thumbnails. **/
.linkflair-deathknight a.thumbnail { background-position: -0px -0px !important; }
.linkflair-druid a.thumbnail { background-position: -0px -73px !important; }
.linkflair-hunter a.thumbnail { background-position: -0px -149px !important; }
.linkflair-mage a.thumbnail { background-position: -0px -225px !important; }
.linkflair-monk a.thumbnail { background-position: -0px -301px !important; }
.linkflair-paladin a.thumbnail { background-position: -0px -377px !important; }
.linkflair-priest a.thumbnail { background-position: -0px -453px !important; }
.linkflair-rogue a.thumbnail { background-position: -0px -529px !important; }
.linkflair-shaman a.thumbnail { background-position: -0px -605px !important; }
.linkflair-warlock a.thumbnail { background-position: -0px -681px !important; }
.linkflair-warrior a.thumbnail { background-position: -0px -757px !important; }
.linkflair-lore a.thumbnail { background-position: -0px -833px !important; }
.linkflair-raiding a.thumbnail { background-position: -0px -985px !important; }
.linkflair-bluepost a.thumbnail { background-position: -0px -1061px !important; }
.linkflair-general a.thumbnail { background-position: -0px -1213px !important; }
.linkflair-modpost a.thumbnail { background-position: -0px -1364px !important; }
.linkflair-murloc a.thumbnail { background-position: -0px -833px!important; }
.linkflair-tank a.thumbnail { background-position: -0px -985px!important; }
.linkflair-heal a.thumbnail { background-position: -0px -1213px!important; }
.linkflair-raid a.thumbnail { background-position: -0px -1364px!important; }
.linkflair-switchup a.thumbnail { background-position: -0px -833px!important; }
.linkflair-pvp a.thumbnail { background-position: -0px -909px !important; }



/* NSFW goes at the end because it will always override linkflair */
a.thumbnail.nsfw { background-position: -0px -1292px !important; }

