.popup { z-index:1001 !important; } 
.livePreview, .livePreview .md, .viewSource textarea[readonly] {
  color:#444 !important;
  }

.linkflair-modpost .newComments {
  color:#cfb !important;
  }

#userbarToggle {
  color: #FFB100 !important;
  background-color: rgba(0,0,0,0) !important;
  border-right: 0 !important;
  padding-left: 0;
  top:0px !important;
  margin-top:9px;
  left:0px !important;
}
#RESShortcutsEditContainer {
  position: absolute !important;
  right: 0px !important;
  top: 40px !important;
  background-color: #1D1D1D !important;
}

#RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
  color: #FFB100 !important;
  background-color: #1D1D1D !important;
}

.RESSubscriptionButton, .RESSubscriptionButton:hover {
  background: #226D0E !important;
  border: 1px solid #447023 !important;
  color: #FFFFFF !important;
}

.RESSubscriptionButton.unsubscribe, .RESSubscriptionButton.unsubscribe:hover {
  background: #630517 !important;
  border: 1px solid #6D0110 !important;
  color: #FFFFFF !important;
}

#NREFloat {
  background:rgba(255,255,255,0.5);
  padding:3px 7px;
  z-index:9999;
  }

/* RES is more of a hack then reddit */
.RESshortcut, .RESshortcut:hover, .RESshortcutside, .RESshortcutside:hover, .RESshortcut.RESshortcutside.remove  { padding: 0px 8px !important; }
.fancy-toggle-button .remove, .RESshortcutside.remove, .RESDashboardToggle.remove, .RESshortcut.RESshortcutside.remove { background:rgba(99,0,0,0.5);}
.fancy-toggle-button .remove:hover, .RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover, .RESshortcut.RESshortcutside.remove:hover { background:background:rgba(99,0,0,0.9);}
.fancy-toggle-button .add, .RESshortcutside, .RESDashboardToggle, .RESshortcut { background:rgba(0,99,0,0.5);}
.fancy-toggle-button .add:hover, .RESshortcutside:hover, .RESDashboardToggle:hover, .RESshortcut:hover { background:rgba(0,99,0,0.9);}

/* Markdown help table */
.usertext table.markhelp {
  color: #222 !important;
}

.commentingAs {
  color:#555;
  }


.usertext table.markhelp, .usertext .markhelp td, .usertext .markhelp tr {
  border: 1px solid #2C180D;
}

.usertext table.markhelp tbody tr:first-child {
  color: #E2C7A3 !important;
  background: #070502 !important;
}

/* Usertext crazy margin fix */

.usertext-edit {padding:0 1px;}


/* Markup changes */
blockquote {
  border-left: 2px solid #FFB100 !important;
}

#RESConsole {
  z-index:111 !important;
  }
#modalOverlay {
  z-index:111 !important;
  }

.RESImage.loaded {z-index:101;}

.thing.link > .RES-keyNav-activeElement,
.thing.link > .keyHighlight {
  outline: none !important;
  background: url('../images/res-highlight-green.png') no-repeat;
  background-color: transparent !important;
}

/*
.thing.link > .RES-keyNav-activeElement + div,
.thing.link > .keyHighlight + div {
  background:transparent;
  width: 60px;
  position: absolute;
  top: 13px;
  left: 60px;
  height: 57px;
  z-index: 1;
  border-radius: 1em;
  box-shadow: 0px 4px 54px #212;
}

.thing.link.compressed > .RES-keyNav-activeElement + div,
.thing.link.compressed > .keyHighlight + div,

{
  box-shadow: none !important;
  display:none;
}

.thing.link.reported > .RES-keyNav-activeElement + div,
.thing.link.reported > .keyHighlight + div {
  box-shadow:0px 0px 40px #fff;
}
*/


.thing.comment > .RES-keyNav-activeElement, .thing.link.compressed > .RES-keyNav-activeElement,
.thing.comment > .keyHighlight, .thing.link.compressed > .keyHighlight {
  background: url('%%res-highlight-green%%') no-repeat;
  outline: none !important;
  background-color: transparent !important;
  }

a.voteWeight {
  background-color: transparent !important;
  margin-right:7px;
}
#RESMainGearOverlay .gearIcon {
  top:13px !important;
  }
.gearIcon, #RESSettingsButton {
  width: 14px !important;
  height: 12px !important;
  background-image: url('%%mail%%') !important;
  background-repeat: no-repeat  !important;
  background-position: 0px -52px  !important;
}

.RESDialogSmall > h3 {
  background-color: #555 !important;
  color: #eee !important;
  }
.RESDialogSmall {
  background-color: #eee !important;
  color:#222 !important;
  }

/* styling some popups */
#authorInfoToolTip .blueButton {
  background-color:rgba(0,0,0,0.7) !important;
  }
.RESCloseButton {
  color: #111 !important;
  background-color: #E2C7A3 !important;
  }

/* and dropdowns */

.RESDropdownList a {
  color:#797E84 !important;
  }
#RESMainGearOverlay {
  background-color:#170e02 !important;
  height:18px !important;
  width:20px !important;
  border:1px black solid;
  }
.RESDropdownList {
  background-color: rgba(0,0,0,0.8) !important;
  border: 1px solid #2C180D !important;
  }
.RESDropdownList li {
  border-bottom:1px solid #2C180D !important;
  }
  
.RESDropdownList li:hover,
.RESDropdownList li a:hover {
  background-color: #000 !important;
  color: #FFFFFF !important;
  }
  
.moduleToggle .toggleOff, .toggleButton .toggleOff {
  background-color: #60240E !important;
  }
/* Hack for mail icon on scroll down */

#NREMail.nohavemail, #NREMail.havemail {
  background-image: url('%%mail%%') !important;
  background-repeat:no-repeat;
  }
#NREMail.nohavemail {background-position:0 0 !important;}
#NREMail.havemail {background-position:0 -9px !important;}
#NREMail {height:9px !important;}

`


/* Hack for dropdown menus  */

/* MF Darkmode */

.res-nightmode #header {background-image:none;}
.res-nightmode #siteTable .thing {background-image:none;}
.res-nightmode .side {background-image:none;}
.res-nightmode .side > .spacer:first-child {background-image:none;}
.res-nightmode .side > .spacer:last-child {background-image:none;}
.res-nightmode #sr-header-area, .res-nightmode #sr-more-link {background:black !important;}
.res-nightmode .expando-button {max-height:23px !important;max-width:23px !important;}
.res-nightmode .RES-keyNav-activeElement {background-image:none;}
.res-nightmode .titlebox .usertext .md > h1, .res-nightmode .sidecontentbox .title {background:transparent;border:1px solid #999;}

/* Glaive instead of Bacon */

#baconBit {
  background-image: url('%%res-glaive%%') !important;
  width: 50px !important;
  height: 20px !important;
}

/* NER marker sucks */

.NERPageMarker {
  background-color:transparent !important;
  border:none !important;
  font-size:17px !important;
  color:#222 !important;
  }
#progressIndicator {
  border:none !important;
  background-color:rgba(20,20,20,0.1) !important;
  margin:10px auto !important;
  width:auto !important;
  }

#RESDropdownList {
  position:relative;
  z-index:107;
}

/* I keep having a problem with glyphicons getting changed, so I have the reddit tags in here */

.RESGalleryControls a {
  cursor: pointer;
  display: inline-block;
  background-image: url('%%glyphicons-halflings%%') !important;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.RESGalleryControls .next {
  background-position:-361px -74px !important;
}
.RESGalleryControls .previous {
  background-position:-217px -74px !important;
}
.RESGalleryControls .next.end {
  background-position:-195px -74px !important;
}
.RESGalleryControls .previous.end {
  background-position:-388px -74px !important;
}

.RESUserTagImage {
  background-image: url('%%glyphicons-halflings%%') !important;
  background-repeat:no-repeat;
  background-position: -1px -49px !important;
  width: 12px !important;
  height: 13px !important;
  position:relative;
  top:2px;
  }

#NREPause {
  background:url('%%glyphicons-halflings%%') no-repeat -291px -75px !important;
  width: 8px !important;
  height: 10px !important;
  margin:3px;
  }
#NREPause.paused {
  background-position:-267px -74px !important;
  width: 9px!important;
  height: 12px!important;
  margin:2px;
  }

/* An Additional CSS hack for the Nuke userscript */

a[title="Nuke!"] img {
  display:none !important;
}
a[title="Nuke!"] {
  background:url('%%glyphicons-halflings%%') no-repeat -74px -120px;
  text-indent:-999em;
  width: 11px;
  height: 14px;
  display:inline-block;
  position:relative;
  top:1px;
  }

.thing.comment .tagline span {
  position:relative;
  }

#RESAccountSwitcherDropdown {
  z-index:101 !important;
}

#RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsSort {
  background:transparent !important;
  font-size:14px !important;
  color:#ddd !important;
  }
#RESShortcutsSort {background:transparent!important;}
#RESShortcutsEditContainer { border-radius:2em; top:6px !important; right:0px !important;z-index:111;background:transparent !important;}

.content .RES-keyNav-activeElement, .content .commentarea .RES-keyNav-activeElement .md, .content .commentarea .RES-keyNav-activeElement.entry .noncollapsed {background-color:transparent !important;}

.RESImage.loaded {z-index:111;}

body .RESShortcutsCurrentSub:visited, body .RESShortcutsCurrentSub {
  color:#ffc100 !important;
  }
.res a.userTagged {margin-right:5px;}
.RESUserTag .userTagLink.hasTag {
  display:inline;
  padding:3px 4px;
  border-radius:0;
  top:1px;
  position:relative;
  margin-right:2px;
  }


  

/** +++ RES HACKS ENDS +++ **/
