/***
 * RES Hacks.css
 * -- Hacks to make RES work go in here. 
 */
/** +++ RES HACKS STARTS +++ **/
/* RES Trickery - screw you honestbleeps for having so much css! am jk */

.keyHighlight {
  outline: none !important;
  background: url('../images/border_selected_one.png') no-repeat;
  background-color: transparent !important;
}
a.voteWeight {
  background-color: transparent !important;
}

.gearIcon, #RESSettingsButton {
  width: 14px !important;
  height: 12px !important;
  background-image: url('../images/sprites/mail.png') !important;
  background-repeat: no-repeat  !important;
  background-position: 0px -42px  !important;
}

.RESDialogSmall > h3 {
  background-color: #221409 !important;
  color: #E2C7A3 !important;
  }
.RESDialogSmall {
  background-color: #e2c7a3 !important;
  color:#221409 !important;
  }


/* Hack for mail icon on scroll down */

#NREMail.nohavemail, #NREMail.havemail {
  background-image: url('../images/sprites/mail.png') !important;
  background-repeat:no-repeat;
  }
#NREMail.nohavemail {background-position:0 0 !important;}
#NREMail.havemail {background-position:0 -9px !important;}
#NREMail {height:9px !important;}


/** +++ RES HACKS ENDS +++ **/
