/***
 * RES Hacks.css
 * -- Hacks to make RES work go in here. 
 */
/** +++ RES HACKS STARTS +++ **/
/* RES Trickery - screw you honestbleeps for having so much css! am jk */

.keyHighlight {
  outline: none !important;
  background: url('../images/border_selected_one.png') no-repeat;
  background-color: transparent !important;
}
a.voteWeight {
  background-color: transparent !important;
}

.gearIcon, #RESSettingsButton {
  width: 14px !important;
  height: 12px !important;
  background-image: url('../images/sprites/mail.png') !important;
  background-repeat: no-repeat  !important;
  background-position: 0px -42px  !important;
}

.RESDialogSmall > h3 {
  background: #221409;
  color: #E2C7A3;
  }
.RESDialogSmall {
  background: #e2c7a3;
  color:#221409;
  }


/** +++ RES HACKS ENDS +++ **/
