/***
  padding-right:4px;
 * RES Hacks.css
 * -- Hacks to make RES work go in here. 
 */
/** +++ RES HACKS STARTS +++ **/
/* RES Trickery - screw you honestbleeps for having so much css! am jk */


#RESConsole {
  z-index:111 !important;
  }
#modalOverlay {
  z-index:111 !important;
  }

.RESImage.loaded {z-index:101;}

.thing.link > .RES-keyNav-activeElement,
.thing.link > .keyHighlight {
  outline: none !important;
 /* background: url('../images/res-highlight-green.png') no-repeat;*/
  background-color: transparent !important;
}
.thing.link > .RES-keyNav-activeElement + div,
.thing.link > .keyHighlight + div {
  background:transparent;
  width: 60px;
  position: absolute;
  top: 15px;
  left: 60px;
  height: 60px;
  z-index: 1;
  border-radius: 1em;
  box-shadow: 0px 0px 25px #992;
}

.thing.link.compressed > .RES-keyNav-activeElement + div,
.thing.link.compressed > .keyHighlight + div {
  box-shadow: none !important;
  display:none;
}

.thing.link.reported > .RES-keyNav-activeElement + div,
.thing.link.reported > .keyHighlight + div {
  box-shadow:0px 0px 40px #fff;
}



.thing.comment > .RES-keyNav-activeElement, .thing.link.compressed > .RES-keyNav-activeElement,
.thing.comment > .keyHighlight, .thing.link.compressed > .keyHighlight {
  background: url('%%res-highlight-green%%') no-repeat;
  outline: none !important;
  background-color: transparent !important;
  }

a.voteWeight {
  background-color: transparent !important;
  margin-right:7px;
}
#RESMainGearOverlay .gearIcon {
  top:7px !important;
  }
.gearIcon, #RESSettingsButton {
  width: 14px !important;
  height: 12px !important;
  background-image: url('%%mail%%') !important;
  background-repeat: no-repeat  !important;
  background-position: 0px -52px  !important;
}

.RESDialogSmall > h3 {
  background-color: #221409 !important;
  color: #E2C7A3 !important;
  }
.RESDialogSmall {
  background-color: #e2c7a3 !important;
  color:#221409 !important;
  }

/* styling some popups */
#authorInfoToolTip .blueButton {
  background-color:#221409 !important;
  }
.RESCloseButton {
  color: #221409 !important;
  background-color: #E2C7A3 !important;
  }

/* and dropdowns */

.RESDropdownList a {
  color:#797E84 !important;
  }
#RESMainGearOverlay {
  background-color:#170e02 !important;
  height:18px !important;
  width:20px !important;
  border:1px black solid;
  }
.RESDropdownList {
  background-color: #221409 !important;
  border: 1px solid #2C180D !important;
  }
.RESDropdownList li {
  border-bottom:1px solid #2C180D !important;
  }
  
.RESDropdownList li,  
.RESDropdownList li a {
  color: #008467 !important;
  }
  
.RESDropdownList li:hover,
.RESDropdownList li a:hover {
  background-color: #36200E !important;
  color: #FFFFFF !important;
  }
  
.moduleToggle .toggleOff, .toggleButton .toggleOff {
  background-color: #60240E !important;
  }
/* Hack for mail icon on scroll down */

#NREMail.nohavemail, #NREMail.havemail {
  background-image: url('%%mail%%') !important;
  background-repeat:no-repeat;
  }
#NREMail.nohavemail {background-position:0 0 !important;}
#NREMail.havemail {background-position:0 -9px !important;}
#NREMail {height:9px !important;}


/* Hack for dropdown menus  */


/* MF Darkmode */

.res-nightmode #header {background-image:none;}
.res-nightmode #siteTable .thing {background-image:none;}
.res-nightmode .side {background-image:none;}
.res-nightmode .side > .spacer:first-child {background-image:none;}
.res-nightmode .side > .spacer:last-child {background-image:none;}
.res-nightmode #sr-header-area, .res-nightmode #sr-more-link {background:black !important;}
.res-nightmode .expando-button {max-height:23px !important;max-width:23px !important;}
.res-nightmode .RES-keyNav-activeElement {background-image:none;}
.res-nightmode .titlebox .usertext .md > h1, .res-nightmode .sidecontentbox .title {background:transparent;border:1px solid #999;}

/* Glaive instead of Bacon */

#baconBit {
  background-image: url('%%res-glaive%%') !important;
  width: 50px !important;
  height: 20px !important;
}

/* NER marker sucks */

.NERPageMarker {
  background-color:transparent !important;
  border:none !important;
  }
#progressIndicator {
  border:none !important;
  }

#RESDropdownList {
  position:relative;
  z-index:107;
}

/* I keep having a problem with glyphicons getting changed, so I have the reddit tags in here */

.RESGalleryControls a {
  cursor: pointer;
  display: inline-block;
  background-image: url('%%glyphicons-halflings%%') !important;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.RESGalleryControls .next {
  background-position:-361px -74px !important;
}
.RESGalleryControls .previous {
  background-position:-217px -74px !important;
}
.RESGalleryControls .next.end {
  background-position:-195px -74px !important;
}
.RESGalleryControls .previous.end {
  background-position:-388px -74px !important;
}

.RESUserTagImage {
  background-image: url('%%glyphicons-halflings%%') !important;
  background-repeat:no-repeat;
  background-position: -1px -49px !important;
  width: 12px !important;
  height: 13px !important;
  position:relative;
  top:2px;
  }
.userTagLink.hasTag, #userTaggerPreview {
  border-color:#311B1B !important;
  }

#NREPause {
  background:url('%%glyphicons-halflings%%') no-repeat -291px -75px !important;
  width: 8px !important;
  height: 10px !important;
  margin:3px;
  }
#NREPause.paused {
  background-position:-267px -74px !important;
  width: 9px!important;
  height: 12px!important;
  margin:2px;
  }

/* An Additional CSS hack for the Nuke userscript */

a[title="Nuke!"] img {
  display:none !important;
}
a[title="Nuke!"] {
  background:url('%%glyphicons-halflings%%') no-repeat -74px -120px;
  text-indent:-999em;
  width: 11px;
  height: 14px;
  display:inline-block;
  position:relative;
  top:1px;
  }

.thing.comment .tagline span {
  position:relative;
  }

#RESAccountSwitcherDropdown {
  z-index:101 !important;
}

#RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsSort {
  background:transparent !important;
  font-size:14px !important;
  color:#ddd !important;
  }
#RESShortcutsSort {background:transparent!important;}
#RESShortcutsEditContainer { border-radius:2em; top:6px !important; right:0px !important;z-index:111;background:transparent !important;}

.content .RES-keyNav-activeElement, .content .commentarea .RES-keyNav-activeElement .md, .content .commentarea .RES-keyNav-activeElement.entry .noncollapsed {background-color:transparent !important;}

.RESImage.loaded {z-index:111;}

body .RESShortcutsCurrentSub:visited, body .RESShortcutsCurrentSub {
  color:#ffc100 !important;
  }

/** +++ RES HACKS ENDS +++ **/
