/***
 * Sidebar.css
 */

/* What do we call our users? */

.subscribers {margin-left:29px;}
.subscribers .word {display:none;}
.subscribers .number::after {
  content: " Brawlers";
}
.users-online .word {display:none;}
.users-online .number::after {
  content: " stuck on Hexos";
  }

h1.redditname a { font-family: Georgia, Garamond, serif; font-weight: normal; }

.side {
  margin: 0px; 
  width: 380px;
  background: url('%%frame-wood-repeat%%');
  background-repeat: repeat-y;
  background-position: left top;
  padding-top: 0px;
  color: #d2bfa4;
  float: right;
  margin-top:25px;
}
.side a {
  color: #008467;
  background: none;
}

.side a:hover {
  text-decoration: underline;
}

.side .spacer { 
  margin:0;
  width: 304px;
  padding:0 10px 0 0;
  float: right;
}
.side > .spacer:first-child {
  background:url('%%mop-graphics%%');
  background-position: -0px -589px;
  background-repeat:no-repeat;
  width: 380px;
  height:86px;
  position:relative;
  bottom:20px;
  top: -40px;
  padding-right: 0;
  z-index: 90;
  padding-top:125px;
}
.side > .spacer:last-child {
  background:url('%%mop-graphics%%');
  background-position: -0px -839px;
  background-repeat:no-repeat;
  width:301px;
  height:142px;
  padding: 0 0 0 80px;
}

.side > .spacer:last-child .sidecontentbox {
  width: 284px;
  height:24px;
  overflow:hidden;
}

/* Collapse Button */
.sidecontentbox .collapse-button {
  background: #2f1c0e;
  color: #866A45;
  border: #866A45;
}



form.toggle.flairtoggle, form.toggle.leavemoderator-button {
  background:transparent;
}

/* Search Box */
.side #search {
  width: 300px;
  position: relative;
  top: 80px;
  padding: 0 22px 0 12px;
  float: right;
}
#searchexpando {
  padding-top: 10px;
  position: relative;
  z-index: 100;
}
#search input[type="text"] {
  width: 300px;
  background-color: #1b1108;
  border: 3px double #2c180d;
  color: #E2C7A3 !important;
}

/* Search Box "Expando" */
.infobar { 
  background-color: #221409;
  border: 3px double #2C180D;
}


.titlebox form.toggle, .leavemoderator {
  padding:2px 4px;
  background:transparent;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #FFB100;
}
.leavemoderator {
  margin-top:8px;
  }
.titlebox .usertext .md > h1, .sidecontentbox .title {
  background: #221409;
  color: #E2C7A3;
  border: 3px double #2c180d;
  padding:2px 5px;
}

.sidecontentbox .title h1 {
  color: #E2C7A3;
}

.sidecontentbox a.helplink {
  margin: 8px 5px 0 0;
}

.sidecontentbox .content {
  background:transparent;
}

.sidebox .spacer {
  background:transparent;
}


.titlebox h1 a {
  color: #008467 !important;
}

.titlebox .bottom { 
  color: #B39265;
  border-top: 3px solid #221409;
}

.sidecontentbox .content {
  /* Moderator box */
  border: 0px;
}


/* MoreLinks (Submit/Create Buttons) */
.morelink { 
  height: 25px;
  line-height: 25px;
  background: transparent;
  background-repeat: repeat-x;
  border: 0px;
  font-size: 120%;
 }

.morelink .nub, .morelink:hover .nub { 
  position: absolute;
  top: 0px;
  right: -3px;
  height: 25px;
  width: 18px;
  background: transparent;
}

.morelink a, .morelink a:hover { color: #FFB100; border: 0px; }
.morelink, .morelink:hover, .morelink .nub, .morelink:hover .nub { 
  background-image: url('%%mop-graphics%%'); 
}

.morelink { background-position: -0px -0px; }
.morelink .nub { background-position: -0px -186px; }
.morelink:hover { background-position: -0px -25px; }
.morelink:hover .nub { background-position: -18px -186px; }

/* Disable the useless reddit information after a morelink */
.morelink+.spacer { visibility: hidden; height: 0px; }

.sidebox.submit { 
    width: 285px;
    z-index: 50;
    margin-bottom:1em;
}

/* Reddit/RES "Subscribe" Buttons */
.fancy-toggle-button .remove, .RESshortcutside.remove, .RESDashboardToggle.remove, .RESSubscriptionButton.unsubscribe,
.fancy-toggle-button .remove:hover, .RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover, .RESSubscriptionButton.unsubscribe:hover,
.fancy-toggle-button .add, .RESshortcutside, .RESDashboardToggle, .RESshortcut, .RESSubscriptionButton,
.fancy-toggle-button .add:hover, .RESshortcutside:hover, .RESDashboardToggle:hover, .RESshortcut:hover, .RESSubscriptionButton:hover {
  background: transparent !important;
  background-image: url('%%mop-graphics%%') !important;
  border: 0px !important;
  line-height: 20px !important;
  padding: 4px 8px !important;
}

.RESSubscriptionButton.unsubscribe, .RESSubscriptionButton.unsubscribe:hover,
.RESSubscriptionButton, .RESSubscriptionButton:hover {
  line-height: 17px !important;
}

/* RES is more of a hack then reddit */
.RESshortcut, .RESshortcut:hover, .RESshortcutside, .RESshortcutside:hover, .RESshortcut.RESshortcutside.remove  { padding: 0px 8px !important; }
.fancy-toggle-button .remove, .RESshortcutside.remove, .RESDashboardToggle.remove, .RESshortcut.RESshortcutside.remove { background-position: -0px -50px !important; }
.fancy-toggle-button .remove:hover, .RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover, .RESshortcut.RESshortcutside.remove:hover { background-position: -0px -90px !important; }
.fancy-toggle-button .add, .RESshortcutside, .RESDashboardToggle, .RESshortcut { background-position: -0px -70px !important; }
.fancy-toggle-button .add:hover, .RESshortcutside:hover, .RESDashboardToggle:hover, .RESshortcut:hover { background-position: -0px -110px !important; }

/* Flair Selector */
.flairselector { box-shadow: 2px 2px 2px #2C180D; }
.flairselector.drop-choices.active { border: 3px double #2C180D; }
.flairselector.drop-choices.active h2 { background: #322111; color: #E2C7A3; border: 3px double #2C180D; }
.flairselector.drop-choices.active button { background-color: #1B1108; color: #E2C7A3; border: 3px double #2C180D; }
.flairselector.drop-choices.active button:hover { background-color: #422913; cursor:pointer; }
.flairselector form { border-top: 3px double #2C180D; }
.drop-choices {
  background-color: #221409;
  border: 3px double #2C180D;
  width: 220px !important;
  }
.side .drop-choices {
  left: 150px !important;
}

.drop-choices a.choice:hover{
  background: #36200E;
  color: #FFFFFF;
}

div.subbuttons {
  padding-top: 10px;
}

.flairselector li { border: 0px; }
.customizer input[type="text"] {
  background-color: #1B1108;
  border: 3px double #2C180D;
  color: #E2C7A3;
}

.flairselector li:hover{ background-color: #2C180D; border:0px; }

/* Login Form */
.login-form-side {
  border: 0px;
  margin-top: 40px;
}

.login-form-side input[type="text"], .login-form-side input[type="password"] {
  border: 3px double #2C180D;
  background-color: #1B1108;
  float: left;
  clear: both;
  width: 260px;
  border-radius: 5px;
  padding: 7px 4px 7px 12px;
  color: #E2C7A3;
}

#remember-me { 
  padding-left: 6px; 
  line-height: 20px;
}

.submit button.btn  { 
  height: 30px;
  border: 1px solid #2C180D;
  background: #1B1108;
  color: #FFB100;
  border-radius: 4px;
  padding: 0 20px;
  text-transform: capitalize;
}

.submit button.btn:hover {
  background: #2f1D0E;
  cursor: pointer;
}

/* Sidebar Icons */
.icon-menu a::before { 
  background-image: url('%%modicons%%') !important; 
  width: 18px !important; 
  height: 18px !important;
}
.users-online::before {
  background: url('%%modicons%%') no-repeat -1px -120px;
  width:20px;
  height:19px;
  }
.users-online {
  margin-top:6px;
  margin-left:4px;
  }
.titlebox form.flairtoggle {
  margin-top:6px;
  margin-left:4px;
  }
.titlebox .leavemoderator::before, .moderator.remove-self .main::before {
  background: url('%%modicons%%') no-repeat -1px -51px;
  width: 20px;
  height: 21px;
}
.icon-menu li { line-height: 17px; }

/* Moderator Box */
.icon-menu .reddit-edit::before { background-position: -0px -2px; }
.icon-menu .moderator-mail::before { background-position: -0px -30px; }
.icon-menu .reddit-moderators::before { background-position: -0px -50px; }
.icon-menu .reddit-contributors::before { background-position: -0px -73px; }
.icon-menu .reddit-traffic::before { background-position: -0px -97px; }
.icon-menu .reddit-modqueue::before { background-position: -0px -119px; }
.icon-menu .reddit-reported::before { background-position: -0px -142px; }
.icon-menu .reddit-spam::before { background-position: -0px -166px; }
.icon-menu .reddit-ban::before { background-position: -0px -190px; }
.icon-menu .reddit-flair::before { background-position: -0px -214px; }
.icon-menu .reddit-moderationlog::before { background-position: -0px -237px; }
.icon-menu .reddit-unmoderated::before { background-position: -0px -259px; }

.collapse-button {
  float: right;
}

#moderation_tools {
  margin: 20px 0;
}

/* Reddit Advertisements */
#ad-frame {
  margin-left: 17px;
}


/* LinkInfo (Like it, ups, downs, shortlink) */

.linkinfo {
  background-color: #1B1108;
  text-align: center;
  font-size: 11px;
  padding: 10px 0px 15px 0px;
  border: 3px double #2C180D;
  width: 260px;
  border-radius: 3px;
  margin: 0px auto 15px;
  border-radius: 5px;
}

.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score {
  float: left;
  padding: 5px 10px 5px 0;
  margin: 8px 10px 10px 0;
  text-align: center;
}

.linkinfo .downvotes .number, .linkinfo .upvotes .number, .linkinfo .score .number {
  font-size: 20px !important;
  display: block;
  font-weight: bold !important;
  font-family: "Palatino Linotype", serif;
}

.linkinfo .score, .linkinfo .upvotes {
  border-right: 1px solid #2C180D;
}

.linkinfo .score {
  font-size: 11px;
  color: #FFB100;
  display: block;
  min-width: 59px;
  margin-left: 25px !important;
}

.linkinfo .score .word {
  display: none;
}

.linkinfo .downvotes .word, .linkinfo .upvotes .word {
  font-size: 11px;
  color: #FFB100;
}

.linkinfo .shortlink {
  clear: both !important;
  font-size: 10px;
  margin-top: 10px;
  color: #B39265;
}

.linkinfo .shortlink input {
  background: transparent;
  border: 0px;
  padding-left: 8px;
  font-size: 12px;
  color: #008467;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Recently Viewed Links */

.gadget .midcol {
  padding:0 5px;
}

.gadget .reddit-link {
  margin:8px 0;
}
.side .md h2 {
  color: #D2BFA5;
  font-style: italic;
  }

/* The Moderator box has looked awful so lets adjust that and right the
 * moderators names. Yay for chaining selectors. */

a[href="/message/compose?to=%2Fr%2Fwow"] + .title + .content {
    text-align:right;
}
.side .RESUserTag, .side .voteWeight {display:none !important;}


/* Inactive Moderators & Bots */

.side a[href="http://www.reddit.com/user/neura"],
.side a[href="http://www.reddit.com/user/WoWCaretaker"] {
    display: none;
}

body.search-page .side>.spacer:first-child {
    /* push everything down further to fix people who aren't logged in. */
    height: 200px;
}

body.search-page .login-form-side {
    /* dirty fix for form being offside */
    width: 330px;
    margin-left: 60px;
    margin-top: 80px;
}



/* MENU STUFF */

.titlebox blockquote {
    position: absolute;
    display: block;
    top: 172px;
    left:0;
    right: 0;
    height: 32px;
    border-bottom:1px solid #120910;
    background: url('%%texturebar%%') repeat-x #4e1b10;
    z-index: 50;
    font-size: 12px;
    margin: 0px;
    padding: 3px 0 0 36px;
    color: #d2bfa4;
    border-left:0 !important;
    }

.titlebox blockquote li {
    list-style:none;
    }
.titlebox blockquote a {
    color:#d2bfa4;
    }



/*turns top quote in sidebar into menu container*/

.titlebox blockquote:first-child {
  border-left: none !important;
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0px;
  height: 32px;
  box-shadow: 0px 1px 3px #210E07;
}



/*turns the lists into menus*/

.titlebox blockquote ul {
    float: left;
    margin:0px;
}



/*hide and styles lists*/

.titlebox blockquote ul li {
display: none;
text-align: left;
}

/*makes whole list item selectable*/

.titlebox blockquote li a {
display:block;
}

/*shows menu on hover*/

.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li, .titlebox blockquote ul li:hover {
  display: block;
}
/*turns top list item into section header*/

.titlebox blockquote li:first-child { 
padding: 0;
cursor:default;
}

/* setting up spacing for dropdown links so dropdown dividers work*/

.titlebox blockquote ul li a {
display:block;
padding:5px 12px;
}

/* hovering a dropdown option*/

.titlebox blockquote ul li a:hover {
color: #d2bfa4;
}


/* dropdown selection item */
.titlebox blockquote ul li:nth-child(2) {
  border-top: 1px #100 solid;
  }
.titlebox blockquote ul li {
  background: url('%%texturebar%%') repeat-x #4e1b10;
  border-left: 1px #100 solid;
  border-bottom: 1px #100 solid;
  border-right: 1px #100 solid;
  font-size: 12px;
  line-height: 22px;
  min-width: 125px;
  color: #d2bfa4;
}


/* menu top-level option*/

.titlebox blockquote ul li:first-child{
  background: none;
  text-align: center;
  border: none;
  line-height: 32px;
  min-width: 0;
  padding:0;
  color: #d2bfa4;
}

/* when hovering over dropdown selection item */

.titlebox blockquote ul li a:hover{
  background:#200;
}
/* when hovering over menu top-level option*/

.titlebox blockquote ul li:first-child:hover{
  background: #200;
}

.titlebox blockquote ul:first-child{
margin-left: 15px;}

/*custom size for menu sections*/

.titlebox blockquote ul:nth-of-type(1) li{width:145px;}
.titlebox blockquote ul:nth-of-type(1), .titlebox blockquote ul:nth-of-type(1) li:first-child{width:75px;}

.titlebox blockquote ul:nth-of-type(2) li{width:100px;}
.titlebox blockquote ul:nth-of-type(2), .titlebox blockquote ul:nth-of-type(2) li:first-child{width:100px;}

.titlebox blockquote ul:nth-of-type(3) li{width:145px;}
.titlebox blockquote ul:nth-of-type(3), .titlebox blockquote ul:nth-of-type(3) li:first-child{width:155px;}

.titlebox blockquote ul:nth-of-type(4) li{width:160px;}
.titlebox blockquote ul:nth-of-type(4), .titlebox blockquote ul:nth-of-type(4) li:first-child{width:120px;}

.titlebox blockquote ul:nth-of-type(5) li{width:145px;}
.titlebox blockquote ul:nth-of-type(5), .titlebox blockquote ul:nth-of-type(5) li:first-child{width:105px;}


.sidecontentbox {

}
