/* What do we call our users? */

.subscribers {margin-left:29px;display:block;}
.subscribers .word {display:none;}
.subscribers .number::after {
  content: " Alliance in Ashran queue";
}
.users-online .word {display:none;}
.users-online .number::after {
  content: " Horde in Ahran queue";
  }
h1.redditname a { font-family: Friz Quadrata TT, Georgia, Garamond, serif; font-weight: normal; }

/* simple linkinfo */
.linkinfo {
  background:rgba(231,250,250,0.2);
  text-align:center;
  margin:20px 0;
  border:0;
  border-radius:2px;
  }
.linkinfo .score {
  margin:10px;
  font-family: Friz Quadrata TT;
  }
.side {
  padding-top: 0px;
  background:transparent;
  margin:0;
  margin-bottom:344px;
  }

.side a {
  color: #128;
  background: none;
}

.side a:hover {
  text-decoration: underline;
}

.side .spacer { 
  margin:0;
  padding:0px 5px 0px 25px;
  float: right;
  width:286px;
  background:url(%%sidebar-repeat%%) repeat-y center top;
}
.side .spacer {
  
}
.side::before {
  content:'';
  background:url(%%sidebar-top-alt%%) no-repeat center top;
  width:399px;
  height:401px;
  position:relative;
  padding:0;
  display:block;
  right:99px;
}
.side::after {
  content:'';
  display:block;
  background:url(%%sidebar-bottom%%) no-repeat;
  height:344px;
  width:316px;
  position:relative;
  right:16px;
  clear:right;
}

/* Title of subreddit */
.side h1.redditname {
  display:block;
  position:absolute;
  top:182px;
  text-align:center;
  width:316px;
  right:0;
  }

/* Announcement */

.side .md h3 {
  position:absolute;
  top:210px;
  width:270px;
  font-size:14px;
  font-weight:normal;
  width:245px;
  padding:12px;
  border-radius:3px;
  border:1px solid #530;
  background:rgba(0,0,0,0.5);
  color:#ded;
  }
.side .md h3 a {
  color:#adf;
  }
/*
/* Collapse Button  -  */
.sidecontentbox .collapse-button {
  float: right;
  background: rgba(0,0,0,0.3);
  color: #222;
  border: 0;
  padding:2px;
  position:relative;
  top:-20px;
}

form.toggle.flairtoggle, form.toggle.leavemoderator-button {
  background:transparent;
}
/* Search Box */
#search input[type="text"] {
  background-color: rgba(0,0,0,.5);
  border: 3px double #530;
  color: #eee !important;
  margin:12px 0;
  width:286px;
}
#search input[type="text"]:focus {
 background-color: rgba(0,0,0,0.9);
 }

/* Search Box "Expando" */
.infobar { 
  border: 3px double #530;
  color:#eee;
  position:relative;
  border-top:0;
  background:rgba(0,0,0,0.5);
}
.titlebox form.toggle, .leavemoderator {
  padding:2px 4px;
  background:transparent;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #000;
}
.leavemoderator {
  margin-top:8px;
  }
.titlebox .usertext .md > h1, .sidecontentbox .title h1 {
  background:rgba(212,212,212,0.2);
  padding:4px 8px;
  color:#222;
  font-size:1.5em;
  font-weight:bold;
  margin-top:1em;
  display:block;
}
.titlebox .usertext .md h3 + h1, .titlebox .usertext .md h4 + h1 {
  margin-top:0;
  }
.titlebox .usertext .md > h2 {
  color:#222;
  font-size:1.2em;
  font-weight:bold;
  }
.sidecontentbox a.helplink {
  background:url(%%linkflair%%) no-repeat 0px -1438px rgba(0,0,0,0.8);
  height: 10px;
  text-indent: 0;
  float: none;
  width: 215px;
  color: #DED;
  padding: 18px 11px 24px 56px;
  margin-top: 0;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  }
.sidecontentbox a.helplink:hover {
  background-color:#000;
  }
.sidecontentbox .content {
  background:transparent;
}
.sidebox .spacer {
  background:transparent;
}
.side .sponsorshipbox > * {
  margin-top:1em;
  }
.side iframe {
  margin:0 0 0 -9px;
}

.titlebox {
  padding-top:1.25em;
  }
.titlebox .bottom { 
  color: #201;
}
.titlebox .bottom::after, 
#moderation_tools::after,
.side .spacer:first-child::after,
.side .spacer:last-child::after{
  content:'';
  display:block;
  width:308px;
  height:43px;
  background:url(%%chainz%%) no-repeat;
  margin-left:-18px;
  }

.sidecontentbox .content {
  /* Moderator box */
  border: 0px;
}


/* MoreLinks (Submit/Create Buttons) */
.morelink { 
  height: 25px;
  line-height: 25px;
  background: transparent;
  background-repeat: repeat-x;
  border: 0px;
  font-size: 120%;
 }

.morelink .nub, .morelink:hover .nub { 
  position: absolute;
  top: 0px;
  right: -3px;
  height: 25px;
  width: 18px;
  background: transparent;
}

.morelink a, .morelink a:hover {
  color: #efe; border: 0px; 
  background:rgba(0,0,0,0.8);
  padding:8px;
  }
.morelink a:hover {
  background:rgba(0,0,0,1);
  }

/* Disable the useless reddit information after a morelink */
.morelink+.spacer { visibility: hidden; height: 0px; }
.sidebox.create {width:267px;background:transparent;color:#158;}
.sidebox.submit { 
    width: 200px;
    margin-bottom:1em;
    position:absolute;
    top:433px;
    z-index:90;
    right:51px;
}
.sidebox.submit-text {
    top:485px;
}

/* Reddit/RES "Subscribe" Buttons */
.fancy-toggle-button .remove, .RESshortcutside.remove, .RESDashboardToggle.remove, .RESSubscriptionButton.unsubscribe,
.fancy-toggle-button .remove:hover, .RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover, .RESSubscriptionButton.unsubscribe:hover,
.fancy-toggle-button .add, .RESshortcutside, .RESDashboardToggle, .RESshortcut, .RESSubscriptionButton,
.fancy-toggle-button .add:hover, .RESshortcutside:hover, .RESDashboardToggle:hover, .RESshortcut:hover, .RESSubscriptionButton:hover {
  border: 0px !important;
  line-height: 20px !important;
  padding: 4px 8px !important;
  color:#ded;
}

.RESSubscriptionButton.unsubscribe, .RESSubscriptionButton.unsubscribe:hover,
.RESSubscriptionButton, .RESSubscriptionButton:hover {
  line-height: 17px !important;
}

div.subbuttons {
  padding-top: 10px;
}

.customizer input[type="text"] {
  background-color: #1B1108;
  border: 3px double #2C180D;
  color: #E2C7A3;
}


/* Login Form */
.login-form-side {
  border: 0px;
  margin-top: 40px;
}

.login-form-side input[type="text"], .login-form-side input[type="password"] {
  border: 3px double #2C180D;
  background-color: #1B1108;
  float: left;
  clear: both;
  width: 260px;
  border-radius: 5px;
  padding: 7px 4px 7px 12px;
  color: #E2C7A3;
}

#remember-me { 
  padding-left: 6px; 
  line-height: 20px;
}

/* Sidebar Icons */
.icon-menu a::before { 
  background-image: url('%%modicons%%') !important; 
  width: 18px !important; 
  height: 18px !important;
}
.users-online::before {
  background: url('%%modicons%%') no-repeat -1px -120px;
  width:20px;
  height:19px;
  }
.users-online {
  margin-top:6px;
  margin-left:4px;
  }
.titlebox form.flairtoggle {
  margin-top:6px;
  margin-left:4px;
  }
.titlebox .leavemoderator::before, .moderator.remove-self .main::before {
  background: url('%%modicons%%') no-repeat -1px -51px;
  width: 20px;
  height: 21px;
}
.icon-menu li { line-height: 17px; }

/* Moderator Box */
.icon-menu .reddit-edit::before { background-position: -0px -2px; }
.icon-menu .moderator-mail::before { background-position: -0px -30px; }
.icon-menu .reddit-moderators::before { background-position: -0px -50px; }
.icon-menu .reddit-contributors::before { background-position: -0px -73px; }
.icon-menu .reddit-traffic::before { background-position: -0px -97px; }
.icon-menu .reddit-modqueue::before { background-position: -0px -119px; }
.icon-menu .reddit-reported::before { background-position: -0px -142px; }
.icon-menu .reddit-spam::before { background-position: -0px -166px; }
.icon-menu .reddit-ban::before { background-position: -0px -190px; }
.icon-menu .reddit-moderationlog::before { background-position: -0px -237px; }
.icon-menu .reddit-unmoderated::before { background-position: -0px -259px; }


#moderation_tools {
  margin: 20px 0;
}

/* Reddit Advertisements */
#ad-frame {
  margin-left: 17px;
}


/* LinkInfo (Like it, ups, downs, shortlink) */


/* Recently Viewed Links */

.gadget .midcol {
  padding:0 5px;
}

.gadget .reddit-link {
  margin:8px 0;
}

/* The Moderator box has looked awful so lets adjust that and right the
 * moderators names. Yay for chaining selectors. */

a[href="/message/compose?to=%2Fr%2Fwow"] + .title + .content {
    text-align:right;
}
.side .RESUserTag, .side .voteWeight {display:none !important;}


/* Inactive Moderators & Bots */

.side a[href="http://www.reddit.com/user/neura"],
.side a[href="http://www.reddit.com/user/WoWCaretaker"] {
    display: none;
}

body.search-page .side>.spacer:first-child {
    /* push everything down further to fix people who aren't logged in. */
    height: 200px;
}

body.search-page .login-form-side {
    /* dirty fix for form being offside */
    width: 330px;
    margin-left: 60px;
    margin-top: 80px;
}
