/***
 * Special.css
 *  -- This area is used for flagging threads or posts based on their ids --
 */

 /* Official Blizzard Threads */

.thing.id-t3_zkgu2, 
.thing.id-t3_zqm8d,
.thing.id-t3_13afx8 {
  background: url('../images/thread-background-blizzard.png') #0A0E1C repeat-x !important;
  color: #00B4FF !important;
}

.gadget .thing.id-t3_zkgu2, 
.gadget .thing.id-t3_zqm8d,
.gadget .thing.id-t3_13afx8 {
  background:none;
  }

.thing.id-t3_zkgu2 .title,
.thing.id-t3_zqm8d .title,
.thing.id-t3_13afx8 .title {
  color: #00B4FF !important; 
}

.thing.id-t3_zkgu2 .midcol,
.thing.id-t3_zqm8d .midcol,
.thing.id-t3_13afx8 .midcol {
  display: block;
  background-image: url('../images/bgicon-blizz.png') !important;
  width: 168px !important;
  height: 60px;
}
.gadget .thing.id-t3_zkgu2 .midcol,
.gadget .thing.id-t3_zqm8d .midcol,
.gadget .thing.id-t3_13afx8 .midcol {
  background-image:none;
  }
.thing.id-t3_zkgu2 .entry, .thing.id-t3_zkgu2 .thumbnail,
.thing.id-t3_zqm8d .entry, .thing.id-t3_zqm8d .thumbnail,
.thing.id-t3_13afx8 .entry, .thing.id-t3_13afx8 .thumbnail {
  position: relative;
  right: 140px;
}
.thing.id-t3_zkgu2 .midcol > div,
.thing.id-t3_zqm8d .midcol > div,
.thing.id-t3_13afx8 .midcol > div {
  position: relative;
  right: 72px;
  top: 4px;
}

.thing.id-t3_zkgu2 .domain, .thing.id-t3_zkgu2 .domain a, .thing.id-t3_zkgu2 .tagline,
.thing.id-t3_zqm8d .domain, .thing.id-t3_zqm8d .domain a, .thing.id-t3_zqm8d .tagline,
.thing.id-t3_13afx8 .domain, .thing.id-t3_13afx8 .domain a, .thing.id-t3_13afx8 .tagline { 
  color: #888877 !important; 
}

.thing.id-t3_zkgu2 .entry .buttons li a,
.thing.id-t3_zqm8d .entry .buttons li a,
.thing.id-t3_13afx8 .entry .buttons li a { 
  color: #888877 !important; 
  font-weight: bold !important; 
}

.thing.id-t3_zkgu2 a.thumbnail,
.thing.id-t3_zqm8d a.thumbnail,
.thing.id-t3_13afx8 a.thumbnail {
  background: url('../images/sprites/linkflair.png') -0px -1064px !important;
}

.thing.id-t3_zkgu2 a.thumbnail::after,
.thing.id-t3_zqm8d a.thumbnail::after,
.thing.id-t3_13afx8 a.thumbnail::after {
  position: static;
}

.thing.id-t3_zkgu2 .entry .usertext-body strong,
.thing.id-t3_zqm8d .entry .usertext-body strong,
.thing.id-t3_13afx8 .entry .usertext-body strong {
  color: #FFFFFF !important;
  font-weight: bold;
}

.thing.id-t3_zkgu2 .entry .usertext-body a,
.thing.id-t3_zqm8d .entry .usertext-body a,
.thing.id-t3_13afx8 .entry .usertext-body a {
  color: #FFB100 !important;
}

.thing.id-t3_zkgu2 .entry .usertext-body a:hover,
.thing.id-t3_zqm8d .entry .usertext-body a:hover,
.thing.id-t3_13afx8 .entry .usertext-body a:hover {
  color: #FFFFFF !important;
}

/* Because I love you man */
a[href$='wowhead.com/item=19019'], .comment .md p > a[href$="wowhead.com/item=19019"]:visited, a[href$='wowhead.com/item=19019']:before, a[href$='wowhead.com/item=19019']:after {
  color: #FF8000 !important;
}
a[href$='wowhead.com/item=19019']:before {
  content: "DID SOMEBODY SAY ";
}

a[href$='wowhead.com/item=19019']:after {
  content: "?!?!!?";
}

.rulespage {
  background:#1C0F09;
  border: 1px solid #2C180D;
  border-radius:14px;
  }

.rulespage li.bad-example {
background:#720101;
}
.rulespage li.good-example {
background: #1E500D;
}
