/***
 * Special.css
 *  -- This area is used for flagging threads or posts based on their ids --
 */

 /* Official Blizzard Threads */

.thing.id-t3_zkgu2 {
  background: url('../images/fishie-blue.png') #0A0E1C repeat-x !important;
  color: #00B4FF !important;
}

.thing.id-t3_zkgu2 .title {
  color: #00B4FF !important; 
}

.thing.id-t3_zkgu2 .midcol {
  display: block;
  background-image: url('../images/bgicon-blizz.png') !important;
  width: 168px !important;
  height: 60px;
}
.thing.id-t3_zkgu2 .entry, .thing.id-t3_zkgu2 .thumbnail {
  position: relative;
  right: 140px;
}
.thing.id-t3_zkgu2 .midcol > div {
  position: relative;
  right: 72px;
  top: 4px;
}

.thing.id-t3_zkgu2 .domain, .thing.id-t3_zkgu2 .domain a, .thing.id-t3_zkgu2 .tagline { 
  color: #888877 !important; 
}

.thing.id-t3_zkgu2 .entry .buttons li a { 
  color: #888877 !important; 
  font-weight: bold !important; 
}

.thing.id-t3_zkgu2 a.thumbnail {
  background: url('../images/sprites/linkflair.png') -0px -1064px !important;
}

/* Offical Blizzard Posts */

.thing.id-t1_c660p85>.entry {
  color: #00B4FF !important;
}
