a[href="/spoiler"],a[href="/s"],
a[href="#spoiler"],a[href="#s"] {
  background:rgba(0,0,0,0.2);
  color:transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.9);
  cursor: default;

a[href="/spoiler"]:hover,a[href="/s"]:hover,
a[href="#spoiler"]:hover,a[href="#s"]:hover { 
  color: 111 !important 
}

.linkflair-spoiler a.title{
  background:rgba(0,0,0,0.2);
  color:transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.9);
}
.linkflair-spoiler a.title:visited{
  background:rgba(0,0,0,0.2);
  color:transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.9);
}
.linkflair-spoiler a.title:hover{
  background: none;
  color: auto;
}



        
