html([lang="ns"]) a[href="/spoiler"],
html([lang="ns"]) a[href="/s"],
html([lang="ns"]) a[href="#spoiler"],
html([lang="ns"]) a[href="#s"] {
  background:rgba(0,0,0,0.2);
  color:transparent !important;
  text-shadow: 0 0 8px rgba(0,0,0,0.9);
  cursor: default;
}

html([lang="ns"]) a[href="/spoiler"]:hover,
html([lang="ns"]) a[href="/s"]:hover,
html([lang="ns"]) a[href="#spoiler"]:hover,
html([lang="ns"]) a[href="#s"]:hover { 
  color: #333 !important;
  text-shadow: 0 0 0 !important;
}

html([lang="ns"]) .linkflair-modpost a[href="/spoiler"]:hover,
html([lang="ns"]) .linkflair-modpost a[href="/s"]:hover,
html([lang="ns"]) .linkflair-modpost a[href="#spoiler"]:hover,
html([lang="ns"]) .linkflair-modpost a[href="#s"]:hover { 
  color:#ddd !important;
}
    
  
  
  
html([lang="ns"]) .linkflair-spoiler a.title {
  background:rgba(0,0,0,0.2);
  color:transparent !important;
  text-shadow: 0 0 8px rgba(0,0,0,0.9);
}
html([lang="ns"]) .linkflair-spoiler a.title:visited {
  background:rgba(0,0,0,0.2);
  color:transparent !important;
  text-shadow: 0 0 8px rgba(0,0,0,0.9);
}
html([lang="ns"]) .linkflair-spoiler a.title:hover,
html([lang="ns"]) .linkflair-spoiler:hover a.title {
  background: transparent !important;
  color: #222 !important;
  text-shadow:0 0 0 !important;
}


