#siteTable {
  margin-top: 25px; /* Keeps us lined up with the sidebar header */
}

#siteTable .thing {
  margin: 0 10px 0 5px;
  z-index:auto;
  background:rgba(212,212,212,0.35);
  border-bottom:1px solid #999;
  padding-bottom:1.6em;
}
#siteTable .thing:last-child {
 border-bottom:0;
 }
@media (max-width:1300px) {
  #siteTable .thing:first-child .entry {
    padding-right:135px;
  }
}

.link.promotedlink.promoted a, #siteTable .thing .title a, #sitetable .thing.comment a.title {
}
.link.promotedlink.promoted a:visited, #siteTable .thing .title a:visited, #siteTable .thing.comment a.title:visited {
}

.link.promotedlink.promoted .thumbnail {
    margin: 0px 10px;
}
.link.promotedlink.promoted .thumbnail::after {
  content:"";
  display:none;
  }
.organic-listing {
  padding: 0;
  overflow: hidden;
  position: relative;
  background-color: rgba(212,212,212,0.5) !important;
  margin:11px 320px 7px 4px;
  border:3px double #899;
  border-radius:5px;
}
.link.promotedlink.promoted {
  border:0;
  margin:0;
  background:transparent !important;
}

.link.last-clicked {
    overflow:visible;
    }

#siteTable .thing.comment .parent {
padding: 15px 10px 10px 40px;}
  

.midcol, .thumbnail {margin-top:0px;}

/* Fugly Search fixes */
.searchpane.raisedbox {min-height:6em;}
.searchpane.raisedbox form > * {display:none;}
.searchpane.raisedbox form {display:block;}
.searchpane.raisedbox:hover form > * {display:block;}
.searchpane.raisedbox form > input:first-child {display:block;}


/* Text stuff inside of thing */
.domain, .domain a, .tagline { color: #444; }
.entry .buttons li a { color: #222; font-weight: normal; }
.link .flat-list, .domain, .domain a, .tagline { padding: 5px 0;}
.link .rank { display: none; margin-top: 23px; color: #000; }

/* Upboats and Downboats */
.arrow {
  height: 20px;
  width: 24px;
  background-image: url('%%voting%%') !important;
}
.arrow.upmod { background-position: -0px -0px; }
.arrow.up { background-position: -0px -20px; }
.arrow.down { background-position: -0px -40px; }
.arrow.downmod { background-position: -0px -60px; }

.midcol { width: 36px !important; padding: 10px 0px; }
.entry { padding: 5px 0 0;}

/* Downvote Message */

.arrow.downmod:hover::after {
  content: '';
  display: block;
  background: url(%%downvote%%) no-repeat;
  width: 350px;
  height: 200px;
  height: 200px;
  position: absolute;
  z-index: 200;
  left: 100px;
  margin-top: -90px;
  }

/* Expandos */

.expando-button {
  height: 31px !important;
  width: 30px !important;
  max-height: 31px !important;
  max-width: 30px !important;
  background: transparent;
  background-image: url('%%expando%%') !important;
}

.expando-button.selftext.collapsed, .expando-button.selftext.expanded:hover {background-position: -0px -31px;}
.expando-button.selftext.collapsed:hover, .expando-button.selftext.expanded {background-position: -0 0;}
.expando-button.video.collapsed, .expando-button.video.expanded:hover       {background-position: -0px -93px;}
.expando-button.video.collapsed:hover, .expando-button.video.expanded       {background-position: -0px -62px;}
.expando-button.video-muted.collapsed, .expando-button.video-muted.expanded:hover       {background-position: -0px -93px;}
.expando-button.video-muted.collapsed:hover, .expando-button.video-muted.expanded       {background-position: -0px -62px;}
.expando-button.image, .expando-button.image.expanded:hover                 {background-position: -0px -160px !important;}
.expando-button.image:hover, .expando-button.image.expanded                 {background-position: -0px -129px !important;}
.expando-button.gallery, .expando-button.gallery.expanded:hover             {background-position: -0px -224px !important;}
.expando-button.gallery:hover, .expando-button.gallery.expanded             {background-position: -0px -193px !important;}

/* Posts within threads */

.link .usertext .md { background: transparent; border: none; }
.usertext-body { margin-bottom:8px; }
/* Blizzard posts within threads hack */

a[href*='#blizzpost']~em {
  color: #00B4FF;
  display: block;
  font-style: normal;
  margin-top: 10px;
}

/* Reported and Spam Posts */


.entry .buttons li.trial-stamp, .entry .buttons li.reported-stamp {
  background-color: #4C0418;
  color: #FFFFFF;
}

a.pretty-button.negative, a.pretty-button.neutral, a.pretty-button.positive {
  background: transparent;
  border: 1px solid #000000;
  color: #FFFFFF;
}
a.pretty-button.negative { background-color: #4C0418; }
a.pretty-button.neutral { background-color: #043C4C; }
a.pretty-button.positive { background-color: #044C14; }

a.pretty-button.negative:hover { background-color: #640520; }
a.pretty-button.neutral:hover { background-color: #054F64; }
a.pretty-button.positive:hover { background-color: #05641A; }


.commentarea {
  background: rgba(212,212,212,0.2);
  margin: 0 10px 0 5px;
  padding:10px 10px 20px;
  border-bottom:2px solid #888;
}
.commentarea .child {
  border-left: 0;
}

html .comment,
.res-commentBoxes .comment {
  padding: 0px 3px !important;
  border: 1px solid #888 !important;
  margin-left: 13px !important;
}

.comment .child,
.res-commentBoxes .comment .child {
  margin:10px 1px 4px 15px;
}

html .comment .comment,
html .comment .comment .comment .comment,
html .comment .comment .comment .comment .comment .comment,
html .comment .comment .comment .comment .comment .comment .comment .comment,
html .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-commentBoxes .comment .comment,
html.res-commentBoxes .comment .comment .comment .comment,
html.res-commentBoxes .comment .comment .comment .comment .comment .comment,
html.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: rgba(255,255,255,0.3) !important;
}

html .comment,
html .comment .comment .comment, 
html .comment .comment .comment .comment .comment, 
html .comment .comment .comment .comment .comment .comment .comment,  
html .comment .comment .comment .comment .comment .comment .comment .comment .comment,
html.res-commentBoxes .comment,
html.res-commentBoxes .comment .comment .comment, 
html.res-commentBoxes .comment .comment .comment .comment .comment, 
html.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,  
html.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment{
  background-color: rgba(235,235,235,0.3) !important;
}

html .res .sitetable.nestedlisting > .thing,
.sitetable.nestedlisting > .thing,
.sitetable.nestedlisting .thing {
  margin-top: 5px;
  border:0;
}

.thing .usertext-edit {
  padding: 20px 0px 0px 30px;
  color: #FFF;
}
.fancy-settings .usertext-edit {
  padding-left:0;
  }

.usertext-edit textarea {
  border: 3px double #999;
  background:rgba(0,0,0,.6);
  color: #eee;
  border-radius: 3px;
  }
.usertext-edit textarea:focus {
  border:3px double #900;
  background:rgba(0,0,0,0.9);
  }

.comment .usertext,
.res-commentBoxes .comment .usertext {
  margin-right: 20px;
  }


.panestack-title {
  padding-top: 16px;
  border-bottom: 1px dotted #888;
}

.usertext.border .usertext-body, .usertext.grayed .usertext-body {
  background-color: rgba(212,212,199,0.2);
  padding-left: 5px;
  border: 0;
}

.comment.spam > .child, .message .spam > .child {background:transparent;}
.comment.spam > .child > div > div, .message.spam > .child > div > div {
  background:#D8D3CB !important;
}

.sitetable .thing.comment.spam {
  background:rgba(99,0,0,0.3) !important;
  }


/* Collapsible Comments */

.comment .collapsed {
    padding: 0px 0 10px 35px;
    }
.collapsed .flair {
    display:inline-block;
    }

/* Actual Typography */

.content .md h1 {
  color:#000;
  font-size:2em;
  line-height:1.5em;
}
.content .md h2 {
  color:#000;
  font-size:1.8333em;
  line-height:1.6364em;
}
.content .md h3 {
  color:#000;
  font-size:1.6667em;
  line-height:1.8em;
}
.content .md h4 {
  color:#000;
  font-size:1.5em;
  line-height:1em;
}
.content .md h5 {
  color:#000;
  font-size:.1333em;
  line-height:1.25em;
}


p#noresults {
  padding: 15px;
}

hr {
  border-color:#5f5447;
  position:relative;
  right:5px;
  }


/* Tables */

.md th {color:#222;}
.md td, .md th {
border: 1px solid #333;
padding: 5px 10px;
}


/* Sponsored Links */

.link.promotedlink {
  border:1px solid #59200f;
  margin:50px 10px 5px;
  background:rgba(212,212,192,0.2);
  margin-right:300px;
  }

/* Upscore / Downscore */
.link .score {color:#555;}
.link .score.likes {color: #FF4500;}
.link .score.dislikes {color: #158;}

/* Coloured Reply */

.entry .buttons a[onclick*="reply"] {
  font-weight:bold;
  color:#000 !important;
  }
