/***
 * Threads.css
 */

#siteTable {
  margin-top: 40px; /* Keeps us lined up with the sidebar header */
}

#siteTable .thing {
  background-color: #0f0f0f; /*#27160e;*/
  background: url('../images/thing-background.jpg');
  border: 1px solid #000;
  margin-right: 460px; /*  The way our sidebar is positioned we need this =/ */
  margin-left: 30px;
  padding: 20px;
  margin: 0 460px 0 30px;
}

#siteTable > .thing:first-child { 
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#siteTable > .thing:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;  
}

#siteTable .thing .title {
  color: #008467;
}

/* Text stuff inside of thing */
.domain, .domain a, .tagline { color: #B39265; }
.entry .buttons li a { color: #1F1F1F;/* #B39265;*/ }

.link .rank { margin-top: 23px; color: #000; }

/* Upboats and Downboats */
.arrow {
  height: 24px;
  width: 21px;
}

.arrow.up {
  background-image: url('../images/arrow_up_false.png');
  background-position: -0 -0;
}

.arrow.upmod {
  background-image: url('../images/arrow_up_vote.png');
  background-position: -0 -0;
}

.arrow.down {
  background-image: url('../images/arrow_dn_false.png');
  background-position: -0 -0;
}

.arrow.downmod {
  background-image: url('../images/arrow_dn_true.png');
  background-position: -0 -0;
}

.midcol { width: 28px !important; padding: 0 20px; }