/***
 * Threads.css
 */

#siteTable {
  margin-top: 10px; /* Keeps us lined up with the sidebar header */
}

#siteTable .thing {
  background: url('%%thread-background-transparent%%') repeat-x #29120A;
  border: 1px solid #000;
  padding: 4px 0 5px;
  margin: 0 10px 0 5px;
  position:relative;
  z-index:auto;
}


#siteTable > .thing:first-child { 
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#siteTable > .thing:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;  
}

.link.promotedlink.promoted a, #siteTable .thing .title a, #sitetable .thing.comment a.title {
  color: #5FFBDA;
  margin-top: 11px;
}
.link.promotedlink.promoted a:visited, #siteTable .thing .title a:visited, #siteTable .thing.comment a.title:visited {
  color: #826A19;
}

.link.promotedlink.promoted .thumbnail {
    margin: 0px 10px;
}

#siteTable .thing.comment .parent {
padding: 15px 10px 10px 40px;}
  

.midcol, .thumbnail {margin-top:0px;}

/* Fugly Search fixes */
.searchpane.raisedbox {min-height:6em;}
.searchpane.raisedbox form > * {display:none;}
.searchpane.raisedbox form {display:block;}
.searchpane.raisedbox:hover form > * {display:block;}
.searchpane.raisedbox form > input:first-child {display:block;}


/* Text stuff inside of thing */
.domain, .domain a, .tagline { color: #B39265; }
.entry .buttons li a { color: #EFC9A0; font-weight: normal; /* #B39265;*/ }
.link .flat-list, .domain, .domain a, .tagline { padding: 5px 0;}
.link .rank { display: none; margin-top: 23px; color: #000; }

/* Upboats and Downboats */
.arrow {
  height: 20px;
  width: 24px;
  background-image: url('%%voting%%') !important;
}
.arrow.upmod { background-position: -0px -0px; }
.arrow.up { background-position: -0px -20px; }
.arrow.down { background-position: -0px -40px; }
.arrow.downmod { background-position: -0px -60px; }

.midcol { width: 36px !important; padding: 10px 0px; }
.entry { padding: 5px 0 0;}

/* Expandos */

.expando-button {
  height: 31px !important;
  width: 30px !important;
  max-height: 31px !important;
  max-width: 30px !important;
  background: transparent;
  background-image: url('%%expando%%') !important;
}

.expando-button.selftext.collapsed, .expando-button.selftext.expanded:hover { background-position: -0px -0px; }
.expando-button.selftext.collapsed:hover, .expando-button.selftext.expanded { background-position: -0px -31px; }
.expando-button.video.collapsed, .expando-button.video.expanded:hover { background-position: -0px -62px; }
.expando-button.video.collapsed:hover, .expando-button.video.expanded { background-position: -0px -93px; }
.expando-button.image, .expando-button.image.expanded:hover { background-position: -0px -129px !important; }
.expando-button.image:hover, .expando-button.image.expanded { background-position: -0px -160px !important; }
.expando-button.gallery, .expando-button.gallery.expanded:hover { background-position: -0px -193px !important; }
.expando-button.gallery:hover, .expando-button.gallery.expanded { background-position: -0px -224px !important; }

/* Posts within threads */

.link .usertext .md { background: transparent; border: none; }
.usertext-body { margin-bottom:8px; }
/* Blizzard posts within threads hack */

a[href*='#blizzpost']~em {
  color: #00B4FF;
  display: block;
  font-style: normal;
  margin-top: 10px;
}

/* Reported and Spam Posts */

#siteTable .thing.reported, #siteTable .thing.spam {
  background: url('%%thread-background-transparent%%') repeat-x #bf0000;
}

.entry .buttons li.trial-stamp, .entry .buttons li.reported-stamp {
  background-color: #4C0418;
  color: #FFFFFF;
}

a.pretty-button.negative, a.pretty-button.neutral, a.pretty-button.positive {
  background: transparent;
  border: 1px solid #000000;
  color: #FFFFFF;
}
a.pretty-button.negative { background-color: #4C0418; }
a.pretty-button.neutral { background-color: #043C4C; }
a.pretty-button.positive { background-color: #044C14; }

a.pretty-button.negative:hover { background-color: #640520; }
a.pretty-button.neutral:hover { background-color: #054F64; }
a.pretty-button.positive:hover { background-color: #05641A; }


.commentarea {
  background: url('%%thread-background%%') repeat-x #1C110B;
  margin: 0 10px 0 5px;
  padding:10px 10px 20px;
  border-bottom:2px solid #0F0805;
}
.commentarea .child {
  border-left: 1px dotted #26150D;
}

html .comment {
  padding: 0px 3px !important;
  border: 1px solid #2C180D !important;
  border-radius: 4px;
  margin-left: 13px !important;
}

.comment .child {
  margin:10px 1px 4px 15px;
  }

html .comment .comment,
html .comment .comment .comment .comment,
html .comment .comment .comment .comment .comment .comment,
html .comment .comment .comment .comment .comment .comment .comment .comment,
html .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: #1C0F09 !important;
}

html .comment,
html .comment .comment .comment, 
html .comment .comment .comment .comment .comment, 
html .comment .comment .comment .comment .comment .comment .comment,  
html .comment .comment .comment .comment .comment .comment .comment .comment .comment{
  background-color: #0F0805 !important;
}

.sitetable.nestedlisting > .thing{
  background: #1C0F09;
  margin-top: 5px;
}

.thing .usertext-edit {
  padding: 20px 0px 0px 30px;
  color: #FFF;
}
.fancy-settings .usertext-edit {
  padding-left:0;
  }

.usertext-edit textarea {
  border: 3px double #2C180D;
  background-color: #1B1108;
  color: #E2C7A3;
  border-radius: 5px;
}

.comment .usertext {
  margin-right: 20px;
  }

.usertext button, .usertext .help-toggle.toggle a.option.active {
  height: 30px;
  border: 1px solid #2C180D;
  background: #1B1108;
  color: #FFB100;
  border-radius: 4px;
  padding: 0 20px;
  text-transform: capitalize;
  display: block;
  line-height: 30px;
}

.usertext button:hover, .usertext .help-toggle a.option.active:hover {
  background: #2f1D0E;
  cursor: pointer;
}


.panestack-title {
  padding-top: 16px;
  border-bottom: 1px dotted #B39265;
}

.usertext.border .usertext-body, .usertext.grayed .usertext-body {
  background-color: #180D08;
  padding-left: 5px;
  border: 1px solid #000000;
}
.comment.spam > .child, .message.spam > .child {
background-color:#521D10;
}


.comment a {
  color: #008467;
}

.comment a:visited, .comment .md p > a:visited {
  border-bottom: 1px dotted #008467 !important;
  color: #008467 !important;
}

/* Collapsible Comments */

.comment .collapsed {
    padding: 0px 0 10px 35px;
    }
.collapsed .flair {
    display:inline-block;
    }

/* Messy shit */

.md h2 {
	color: #008467;
}

p#noresults {
  padding: 15px;
}

hr {
  border-color:#5f5447;
  position:relative;
  right:5px;
  }

/* Gold New Comments issue */

.new-comment .usertext-body {
  background-color: #E2C7A3;
  color: #221409;
  border: 1px solid #666;
  padding: 3px 10px;
  margin: 5px 5px 5px 0;}


/* Tables */

.md th {color:#fae3c3;}
.md td, .md th {
border: 1px solid #D2BFA4;
padding: 5px 10px;
}


/* Sponsored Links */

.link.promotedlink.promoted {
  background:#241104;
  }
.link.promotedlink {
  border:1px solid #59200f;
  margin:15px 10px;
  }

/* Upscore / Downscore */
.score.likes {color: #FF8B24;}
.score.dislikes {color: #9494FF;}

/* Coloured Reply */

.entry .buttons a[onclick*="reply"] {
  font-weight:bold;
  color:#FFEBD5 !important;
  }
