/* Wiki Styles */

.wiki-page .content {
    /*background-color: #0F0805 !important;*/
    background: url(%%thread-background%%) repeat-x #1C110B;
}

.pageactions {
    float: right;
    border: none;
    line-height: 30px;
    background-color:#1C0F09;
    line-height: 29px;
    height: 35px;
}

.pageactions .wikiaction-current {
    background-color: #100905;
}

.pageactions .wikiaction-current:hover {
    background-color: #100905;
}

.pageactions .wikiaction:hover {
    background-color: #322621;
}

.wiki-page-content {
    /*background-color: #0F0805 !important;
    padding: 5px;*/
    margin: 0 5px;
}

.wikiaction {
    border-radius: 0;
}

.wiki-page-content .wiki {
    background-color: #1C0F09 !important;
    border: 1px solid #2C180D !important;
    padding: 5px;
}

#editform {
    margin-right: 100px;
}

.md.wiki h1, .md.wiki h2, .md.wiki h3,
.md.wiki h4, .md.wiki h5, .md.wiki h6 { color: #E2C7A3; }

.wikititle { 
    color: #E2C7A3; 
    text-transform: capitalize;
    margin-left: 20px; /* Testing purposes, may need to be defaulted back to 15 */
}
