/* Wiki Styles */

.wiki-page .content {
    /*background-color: #0F0805 !important;*/
    background: url('%%thread-background-transparent%%') repeat-x #1C110B;
    padding:20px 0;
}

.wiki-page .content .pageactions {
    float: right;
    border: none;
    line-height: 30px;
    background-color:#1C0F09;
    line-height: 29px;
    height: 35px;
}

.wiki-page .content .pageactions .wikiaction-current {
    background-color: #100905;
}

.wiki-page .content .pageactions .wikiaction-current:hover {
    background-color: #100905;
}

.wiki-page .content .pageactions .wikiaction:hover {
    background-color: #322621;
}

.wiki-page-content {
    /*background-color: #0F0805 !important;
    padding: 5px;*/
    margin: 0 5px;
    padding-bottom: 15px;
}

.wikiaction {
    border-radius: 0;
}

.wiki-page-content .wiki {
    background-color: #1C0F09 !important;
    border: 1px solid #2C180D !important;
    padding: 5px 15px;
}

#editform {
    margin-right: 440px;
}

.wiki-page .content .wiki-page-content a:hover {text-decoration:underline;}


.wiki-page .content .wiki-page-content .md.wiki h1, 
.wiki-page .content .wiki-page-content .md.wiki h2, 
.wiki-page .content .wiki-page-content .md.wiki h3, 
.wiki-page .content .wiki-page-content .md.wiki h4, 
.wiki-page .content .wiki-page-content .md.wiki h5, 
.wiki-page .content .wiki-page-content .md.wiki h6  { color: #E2C7A3; margin-top:0.5em; }

.wiki-page .content .wiki-page-content .md.wiki h1 {font-size:2em;} 
.wiki-page .content .wiki-page-content .md.wiki h2 {font-size:1.8em;}
.wiki-page .content .wiki-page-content .md.wiki h3 {font-size:1.6em;}
.wiki-page .content .wiki-page-content .md.wiki h4 {font-size:1.4em;} 
.wiki-page .content .wiki-page-content .md.wiki h5 {font-size:1.3em;}
.wiki-page .content .wiki-page-content .md.wiki h6 {font-size:1.2em;}


.wiki-page .content .wikititle { 
    color: #E2C7A3; 
    text-transform: capitalize;
    margin-left: 20px; /* Testing purposes, may need to be defaulted back to 15 */
    /*height: 35px;
    display: inline-block; This is messing stuff up, dunno why but w.e */
    line-height: 35px;
    font-size:2.5em;
}

.wiki-page-content hr {
    display:none;
}

.linefield .title {
    color: white;
}

.wikirevisionlisting .generic-table {
    width: auto;
}

.wikirevisionlisting table tr td {
    color: #D2BFA4;
}

.md.wiki~em {
    display: block;
    background-color: #1C0F09 !important;
    border: 1px solid #2C180D !important;
    padding: 5px 15px;
    margin-top: 15px;
    width:460px;
}
