/*

Welcome traveler of the internets to the /r/wow stylesheet.
                                                                                                                                                      
                                                                                                                                                      
                                                                                                                                                      
                                                                                                                                                      
                                                                  ##################                                                                  
                                                            ##############################                                                            
                                                         #####################################                                                        
                                                     ############################################                                                     
                                                  ##################################################                                                  
                                                #######################################################                                               
                                             ############################################################                                             
                                           ################################################################                                           
                                         ####################################################################                                         
                                        #######################################################################                                       
                                      ###########################################################################                                     
                                    ###############################################  #############################                                    
                                   #################################################  #   ##########################                                  
                                 #########################################################   ########################                                 
                                ###########################################################     ######################                                
               ###############################################################################    ######################################              
               ################################## ###############################################    ###################################              
               ################################ ###################################################    #################################              
               ######################################################################################    ###############################              
               ############################# ##########################################################    #############################              
               ########################### #############################################################    ############################              
               ########################## ################################################################   ###########################              
               ########################  ##################################################################    #########################              
               ####################### ######################################################################   ########################              
               ###############################################################################################   #######################              
               #### ######################################################################################### #    #####################              
               ###  ############### ##########################################################################      ####################              
               ## ###############    ############################################################## # # # ## ##      ###################              
               ## ##############      ########################################################                        ##################              
                ###############         ####################################################                           ################               
                 #############    ##########################################################   #####################    ###############               
                ##############    ##########################################################   #####################     ##############               
               ##############     ##########################################################   #####################     ##############               
               ################    ######################################    ###############   ####################       ##############              
              ############# #####  #####################################      ###############   ###################        #############              
              ############ ######  #####################################      ##############    ##################    ##    #############             
             ############# #######  ##################################### #   ###############   ##################   ###    ##############            
             ############ ########  ##################################### ##   ##############   #################    ####    #############            
            ############ #########  ##################################### ##   ##############   #################    #####    #############           
           ############# #########  ##################################### ##   ##############   #################   ######    #############           
           ############ ###########  ################################### ###   ##############   ################    #######    #############          
          ############  ###########  ################ ################## ####   #############   ################   #########   #############          
          ############ ############  ##################################  ####   ############   #################   #########    #############         
          ########### #############  ##################################  ####   ############   #################   ##########    ############         
         ############  #############  ################ ###############  #####   ############   ################    ##########    ############         
         ############ ##############  ################ ###############  ######   ###########   ################    ###########    ############        
        ############ ###############  ################ ###############  ######   ##########    ################    ###########    ############        
        ############  #############   ################# #############   ######   ##########   #################   #############    ############       
        ###########   ##############  #################  ############  ########   #########   #################   #############    ############       
       ############  ###############   ################  ###########   ########   #########   #################   #############    ############       
       ###########  #################  ################  ###########   ########   #########   ################    ##############    ###########       
       ###########  ################   #################  ##########   ########    ########   ################    ##############    ############      
       ########### ##################  #################  #########   ##########   #######    ################    ##############    ############      
      ###########  ##################   ################   ########   ##########   #######   #################    ###############    ###########      
      ###########  ##################   ################   #######    ##########   #######   #################   ################    ############     
      ########### ###################   #################  #######    ##########    #####    #################    ###############    ############     
      ########### ###################   #################   ######   ############   ######   ################     ################   ############     
     ###########  ####################   ################   #####    ############   #####    ################    #################    ###########     
     ###########  ###################    ################    ####    ############    ####   #################    #################    ############    
     ########### ####################    ################    ####    ############    ###    #################    #################    ############    
     ########### ####################    #################    ##    ##############   ####   #################    #################    ############    
     ########### ######################  #################    ##    ##############   ####   #################    #################    ############    
     ##########  #######################  ################          ##############    ##    ################     ##################    ###########    
    ########### ########################  ################          ##############    ##    ################     ##################    ###########    
     ########## ######################### ################         ################   #    #################    ###################    ###########    
    ########### ######################### #################        ################    #   #################    ###################    ###########    
    ########### #########################  ################        ################        #################    ###################    ############   
    ########### #########################  ################        ################        #################    ###################    ############   
    ########### #########################  ################       ##################       ################     ###################    ############   
    ###########  ########################  #################      ##################       ################     ################# #    ############   
    ###########  ########################  #################      ##################      #################    ################ # #    ############   
    ###########  ############### ########   ################      ###################     #################    ############## ## #     ############   
    ###########  ############### #  #####   ################     ####################     #################    ############ ## ## #    ############   
    ###########  ##############       ###   ################     ####################     #################    ######## # ## #  # #    ############   
    ###########  ############## #           #################    ####################     ################     ### # # ## # # # #      ############   
    ###########  # ############   ###        ################    #####################    ################     ### ## # # # # # # #    ############   
     ##########    #############   ####      ################   ######################   #################    ### ## ## ## #  #        ###########    
    ###########    #############   ######    ################   ######################   #################    ### # # #  #  #  #       ###########    
     ##########    #############   #######   #################  ######################   #################     # # ## # # #  #   #     ###########    
     ###########   #############    ######    ################  #######################  ################     # # # # # #  #   #      ############    
     ###########    #############    #####    ################ ########################  ################      # # # #   #            ############    
     ###########    #############     #####   ################ ######################## #################     # # # #  #              ############    
     ###########    ######### #  #    #####   ######################################### #################      # # #  #               ############    
     ###########      # #    #         ####   ###########################################################     # #                     ############    
      ###########         #             ###    ##########################################################    #   # # #               ############     
      ###########       #                ##    #########################################################      #                      ############     
      ###########                         #    #########################################################        # #                  ############     
      ############                             #########################################################                             ############     
       ###########                              ########################### ############################        #                   ############      
       ###########                              ########################### ############################                            ############      
       ############                             ########################### ###########################                             ############      
       ############                             ##########################   ##########################                            #############      
        ###########                             ##########################   ##########################                            ############       
        ############                             #########################   ##########################                           #############       
        ############                             ########################     #########################                           #############       
         ###########                             ########################     #########################                           ############        
         ############                            ########################     ########################                           #############        
          ###########                             #######################      #######################                           ############         
          ############                            ######################       #######################                          #############         
          ############                            ######################       #######################                         ##############         
           ############                           ######################        ######################                         #############          
           #############                          ######################        ######################                        ##############          
            ############                           ####################         #####################                         #############           
            #############                          ####################          ####################                        ##############           
            #############                          ####################    #     ####################                       ##############            
            ##############                         ####################          ####################                       ##############            
            ###############                        ####################          #####################                     ###############            
            ################                       ####################          #####################                    #################           
            #################                     #####################         #######################                  ##################           
            #################                     ######################        #######################                 ###################           
            ##################                    ######################        #######################                 ###################           
            ###################                   ######################       #########################               ####################           
            ####################                                                                       #              #####################           
            #####################                                                                                   #######################           
            ######################                                                                                 ########################           
            #######################                                                                               #########################           
            ########################                                                                             ##########################           
            ##########################             #                                                            ###########################           
            ######### #################                                                                        ############################           
            #############################          #                                                         ################## ###########           
            ##############################                                                                  ###############################           
            ################################                                                              #################################           
            #################################                                                           ###################################           
            ###################################                                                        ####################################           
            #####################################                                                   #######################################           
                              ######################                                              #######################                             
                                ######################                                          ########################                              
                                 ########################                                    #########################                                
                                  ###########################                            ############################                                 
                                    ##############################                  ################################                                  
                                     #############################################################################                                    
                                       #########################################################################                                      
                                         ######################################################################                                       
                                          ###################################################################                                         
                                            ###############################################################                                           
                                              ###########################################################                                             
                                                 #####################################################                                                
                                                   #################################################                                                  
                                                      ###########################################                                                     
                                                          ###################################                                                         
                                                              ###########################                                                             
                                                                     #############                                                                    
                                                                                                                                                      
                                                                                                                                                      
                                                                                                                                                      


*/

/* =========================== */
/* General subreddit restyling */
/* =========================== */

/*Header*/
#sr-header-area {
	padding: 10px 0px 10px 5px;
	background-color: #1d1d1d;
	color: #EEEEEE;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
	border-bottom: 1px solid #1d1d1d;
	font-size: 90%
}
#sr-more-link {
	background-color: #1d1d1d;
	padding: 5px 5px 5px 15px;
	top: -5px;
	color: #EEEEEE
}
.sr-bar a {
	color: #eee
}
.dropdown.srdrop .selected {
	color: #eee
}
#header {
	background:url(%%header%%);
	background-position:center;
	border-bottom:1px solid #000;
	height:150px;
}
#header-img {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 15px
}
	
#header-bottom-right {
    position: absolute;
    right: 0px;
    top:45px !important;
    bottom: 0px;
    background-color: #411707;
    padding: 4px;
    line-height: 12px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: #FFFFFF;
    height:18px;
    }
#header-bottom-right a {
    color: #FFFFFF
}

.srdrop.drop-choices {
    background:#1d1d1d !important;
}

.srdrop.drop-choices a:hover{
    color:#eee !important;
    background:#787878 !important;

}

/*  Tab menu */
#header-bottom-left .tabmenu {
	background:url(%%submenu%%) no-repeat;
	display: block;
	position: absolute;
	left: 350px;
	bottom: -7px;
	height:96px;
	width:500px;
}
#header-bottom-left .tabmenu li {
	display: block;
	float: left;
	position:relative;
	top:43px;
	left:56px;
}
#header-bottom-left .tabmenu li a {
	display: block;
}
.tabmenu li a {
	background: transparent;
	color: #fff;
	padding: 5px;
	font-size: 10px;
	line-height: 8px;
	text-transform: uppercase;
}
.tabmenu li a:hover {
	background: #61220a;
}
.tabmenu li.selected a {
	background: #411707;
	border: 0;
	color: #fff
}

.user {
    color: white
}

/* Header logo */
.pagename a {
    display: block;
    background-image: url(%%logo-WorldOfReddit%%);
    background-repeat: no-repeat;
    margin: 0 auto;
    font-size: 0px;
    padding: 75px 151px 0 0;
    color: #364657;
    left: 125px;
    position: absolute;
    top: 70px;
    width: 230px;
    }

/* Button background fix */
body, .side {
	background:url(%%bamboo%%);
}
form.toggle.flairtoggle, form.toggle.leavemoderator-button {
	background:url(%%cross-scratches%%);
}


/* Sidebar */

.side {
	margin:15px 5px 0 5px;
	width:380px;
	background:url(%%side-repeat%%);
	background-repeat:repeat-y;
	background-position:center top;
	position:relative;
	top:15px;
}
.side .spacer {	
	margin:0;
	width:290px;
	padding:0 45px;
}
.side > .spacer:first-child {
	background:url(%%side-top%%);
	background-repeat:no-repeat;
	height:86px;
	position:relative;
	bottom:20px;
}
.side > .spacer:last-child {
	background:url(%%side-bottom%%);
	background-repeat:no-repeat;
	height:142px;
}

form.toggle.flairtoggle, form.toggle.leavemoderator-button {
	background:transparent;
}

#search {
	width:210px;
	margin:0 45px;
	position:relative;
	top:66px;
}

#searchexpando {
	padding-top: 10px;
	position: relative;
	z-index: 99999;
}

#search input[type="text"] {
	width:210px;
	position:relative;
}

h1#redditname a {
	/* Fuck the police */
	font-family: "Georgia", "Garamond", serif;
}



.leavemoderator {
	padding:16px 4px;
	border:1px solid #666;
	background:white;
	margin-bottom:1.5em;
}
.titlebox .usertext .md > h1 {
	background: #1d1d1d;
	color: #FFF;
	padding:2px 5px;
}
.sidecontentbox .content {
	background:#fff;
}

.sidebox .spacer {
	background:transparent;
}

/* Link info */

body > .content {
	margin-right:375px;
	color:white;
}

.thing.link {
	background:url(%%linktile%%);
	background-repeat:repeat-x;
	padding:5px 0 10px;
	margin-left:15px;
}
#siteTable .thing.link .title a {
	color:#a88f4c;
}
#siteTable .thing.link .title .domain a{
	color:#7C2D10;
}
.link .rank {
	margin-left:10px;
	margin-right:5px;
	color:#B8E5E9;
}
.thumbnail {
	background-color:#734124;
	background:url(%%thumb-bg%%);
	background-repeat:no-repeat;
	border-top-right-radius:7px;
	border-bottom-left-radius:7px;
	border:1px solid #331D10;
}
.thumbnail.self {
	height: 50px;
	background-position: -0px -421px;
	background-repeat: no-repeat;
}
.keyHighlight {
	outline: 0 !important;
	background-color:transparent !important;

}

.linkinfo{
	/*background:url(%%cross-scratches%%);
	*/border-color: #111a1f;
}

/* Comments & Post Pages */

.link .usertext .md {
	background:#190E08;
	padding:10px 20px;
	border:#090001;
}


.comment {
	background:white;
}


/* Footer */

.footer {
	background:url(%%Horde-Alliance%%);
	width:740px;
	height:369px;
	border:0;
}
.footer .col {
	position:relative;
	top:122px;
	left:155px;
}
.flat-vert.title {color:black;}
.flat-vert a {color:#28005A;}
.flat-vert .buygold {color:#E7DF26;}

/* Markdown code */
/* dcorrell */
code {     
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 4px 2px;
	margin:0px 4px;
}


/* RES fixes */
#srLeftContainer, #RESStaticShortcuts, #RESShortcuts, #srDropdown, #RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsLeft {
	background-color: transparent !important;
}

#header #sr-header-area a, #header #sr-header-area a:hover {
	color: #EEEEEE !important;
}

/* Fixes the subreddit name showing in nightmode */
body.res-nightmode .pagename a{
	text-indent:-9999px;
}

/* Force dark subreddit topbar, userbar and tabs in nightmode */
body.res-nightmode #sr-header-area,
body.res-nightmode #header-bottom-right,
body.res-nightmode .tabmenu li a {
	background-color: #1d1d1d !important;
}
body.res-nightmode .tabmenu li.selected a {
	background: #d55027 !important;
}

/* Removes noise background nightmode */
body.res-nightmode,
body.res-nightmode .side,
body.res-nightmode form.toggle.flairtoggle,
body.res-nightmode form.toggle.leavemoderator-button{
	background:none;
}

/* Forces white font in nightmode */
body.res-nightmode .user > b {
    color: white !important;
}

/* Text next to frontpage button */
.titlebox .word {
  display: none;
}
.titlebox .number:after {
  content: " People playing Diablo III"
}


/* Class icon code stolen from 9jack9 woot!!! ;D */
.titlebox a[href*="team_crests"]:before, .commentarea .author:before {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(%%classes%%);
    vertical-align: middle;
    margin-right: 3px
}

/* WoWWiki warning */
.usertext-body a[href*="wowwiki.com"]:hover:after{
	position: absolute;
	display: block;
	z-index: 1000;
	padding: 5px;
	border: 1px solid #333;
	color:#000;
	background-color: #FFF;
	content: "Please consider using Wowpedia instead of WoWWiki";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	margin-left: 5px;
}

/* Notice on submission page */
#link-desc:after, #text-desc:after {
    display: block;
    margin-top: 10px;
    content: "You may also be interested in: */r/wowguilds* for guild recruitment, */r/wowscrolls* for Scroll of Resurrection requests, */r/transmogrification* for Transmogrification ideas, and */r/wowgoldmaking* for gold making posts."
}


/* Hides inactive mods */
/*
.sidecontentbox a[href*="neura"].sidecontentbox a[href*="neura"]{visibility:hidden;font-size:0pt}
.sidecontentbox a[href*="neura"]:after{
    content:'Mod list:';
    visibility:hidden;
    font-size:0pt;        
}
*/

.sidecontentbox a[href*="neura"], .sidecontentbox a[href*="pigjargon"]{display:none;}
.sidecontentbox .RESUserTagImage{display:none;}

/* Pic of the Day */
/*
 a[href*="#MoPPotD"]{
	display:block;
	text-indent: -3000px;
	background: url(%%picday-2203%%) no-repeat;
	width:298px;
	height:186px;
	border-radius: 2px;
	border:1px solid #333;
}
*/




/* =========================== */
/*            Flair            */
/* =========================== */

/* <3 Fluxflashor of Kel'Thuzad-US */
/* Faction icons, Aberrant of Bladefist-EU */

.flair {
	padding: 0;
	background: none;
	border: 0;
	border-radius: 0;
}

.flair:after {
	background: url(%%wow-flair-icons-transparent-2%%) no-repeat scroll 16px 16px transparent;
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
	height: 18px
}


/* Start of automagically generated CSS for Flair by Fluxflashor */
/* Generated on 10-20-2011 at 19:32:42 */
.flair-deathknight:after { content:""; background-position: 0px 0px; width: 18px; }
.flair-druid:after { content:""; background-position: 0px -20px; width: 18px; }
.flair-hunter:after { content:""; background-position: 0px -40px; width: 18px; }
.flair-mage:after { content:""; background-position: 0px -60px; width: 18px; }
.flair-paladin:after { content:""; background-position: 0px -80px; width: 18px; }
.flair-priest:after { content:""; background-position: 0px -100px; width: 18px; }
.flair-rogue:after { content:""; background-position: 0px -120px; width: 18px; }
.flair-shaman:after { content:""; background-position: 0px -140px; width: 18px; }
.flair-warlock:after { content:""; background-position: 0px -160px; width: 18px; }
.flair-warrior:after { content:""; background-position: 0px -180px; width: 18px; }
.flair-horde-deathknight:after { content:""; background-position: 0px -200px; width: 36px; }
.flair-horde-druid:after { content:""; background-position: 0px -220px; width: 36px; }
.flair-horde-hunter:after { content:""; background-position: 0px -240px; width: 36px; }
.flair-horde-mage:after { content:""; background-position: 0px -260px; width: 36px; }
.flair-horde-paladin:after { content:""; background-position: 0px -280px; width: 36px; }
.flair-horde-priest:after { content:""; background-position: 0px -300px; width: 36px; }
.flair-horde-rogue:after { content:""; background-position: 0px -320px; width: 36px; }
.flair-horde-shaman:after { content:""; background-position: 0px -340px; width: 36px; }
.flair-horde-warlock:after { content:""; background-position: 0px -360px; width: 36px; }
.flair-horde-warrior:after { content:""; background-position: 0px -380px; width: 36px; }
.flair-alliance-deathknight:after { content:""; background-position: 0px -400px; width: 36px; }
.flair-alliance-druid:after { content:""; background-position: 0px -420px; width: 36px; }
.flair-alliance-hunter:after { content:""; background-position: 0px -440px; width: 36px; }
.flair-alliance-mage:after { content:""; background-position: 0px -460px; width: 36px; }
.flair-alliance-paladin:after { content:""; background-position: 0px -480px; width: 36px; }
.flair-alliance-priest:after { content:""; background-position: 0px -500px; width: 36px; }
.flair-alliance-rogue:after { content:""; background-position: 0px -520px; width: 36px; }
.flair-alliance-shaman:after { content:""; background-position: 0px -540px; width: 36px; }
.flair-alliance-warlock:after { content:""; background-position: 0px -560px; width: 36px; }
.flair-alliance-warrior:after { content:""; background-position: 0px -580px; width: 36px; }
.flair-alliance:after { content:""; background-position: 0px -600px; width: 18px; }
.flair-horde:after { content:""; background-position: 0px -620px; width: 18px; }
.flair-horde-cataclysm:after { content:""; background-position: 0px -640px; width: 18px; }
.flair-alliance-cataclysm:after { content:""; background-position: 0px -660px; width: 18px; }
.flair-alliance-deathknight-cataclysm:after { content:""; background-position: 0px -680px; width: 36px; }
.flair-alliance-druid-cataclysm:after { content:""; background-position: 0px -700px; width: 36px; }
.flair-alliance-hunter-cataclysm:after { content:""; background-position: 0px -720px; width: 36px; }
.flair-alliance-mage-cataclysm:after { content:""; background-position: 0px -740px; width: 36px; }
.flair-alliance-paladin-cataclysm:after { content:""; background-position: 0px -760px; width: 36px; }
.flair-alliance-priest-cataclysm:after { content:""; background-position: 0px -780px; width: 36px; }
.flair-alliance-rogue-cataclysm:after { content:""; background-position: 0px -800px; width: 36px; }
.flair-alliance-shaman-cataclysm:after { content:""; background-position: 0px -820px; width: 36px; }
.flair-alliance-warlock-cataclysm:after { content:""; background-position: 0px -840px; width: 36px; }
.flair-alliance-warrior-cataclysm:after { content:""; background-position: 0px -860px; width: 36px; }
.flair-horde-deathknight-cataclysm:after { content:""; background-position: 0px -880px; width: 36px; }
.flair-horde-druid-cataclysm:after { content:""; background-position: 0px -900px; width: 36px; }
.flair-horde-hunter-cataclysm:after { content:""; background-position: 0px -920px; width: 36px; }
.flair-horde-mage-cataclysm:after { content:""; background-position: 0px -940px; width: 36px; }
.flair-horde-paladin-cataclysm:after { content:""; background-position: 0px -960px; width: 36px; }
.flair-horde-priest-cataclysm:after { content:""; background-position: 0px -980px; width: 36px; }
.flair-horde-rogue-cataclysm:after { content:""; background-position: 0px -1000px; width: 36px; }
.flair-horde-shaman-cataclysm:after { content:""; background-position: 0px -1020px; width: 36px; }
.flair-horde-warlock-cataclysm:after { content:""; background-position: 0px -1040px; width: 36px; }
.flair-horde-warrior-cataclysm:after { content:""; background-position: 0px -1060px; width: 36px; }
/* End of automagically generated CSS for Flair by Fluxflashor */


/* Special Flair */
/*.flair-mrrobot:after{background-image:url(%%spritev3%%);background-color:transparent;background-position:0 -17px;width:16px;height:16px;position:relative;content:" ";display:inline-block;margin-right:5px;}*/
.flair-deathloc:after{background-image:url(%%deathloc%%);background-color:transparent;background-position:0 0;width:16px;height:16px;position:relative;content:" ";display:inline-block;margin-right:5px;}
/*.flair-overusedmemepoop{background-image:url(%%spritev3%%);background-position:0 -221px;width:16px;height:16px;content:" ";display:inline-block;margin-right:5px;}*/
.flair-wowinsider{ background-image:url(%%spritev4%%);background-position: 0 -306px; width: 16px; height: 16px; } 




/* =========================== */
/*         Site Icons          */
/* =========================== */

/* Legacy */

/*
.title a.title:before,.side .md a:before{background-image:url(%%spritev3%%);background-color:transparent;background-repeat:no-repeat;background-position:0 -187px;width:16px;height:16px;position:relative;content:" ";display:inline-block;margin-right:5px;}
.title a[href*="arenajunkies.com"].title:before,.side .md a[href*="arenajunkies.com"]:before{background-position:0 0;width:16px;height:16px;}
.title a[href*="askmrrobot.com"].title:before,.side .md a[href*="askmrrobot.com"]:before{background-position:0 -17px;width:16px;height:16px;}
.title a[href*="battle.net/wow/"].title:before,.side .md a[href*="battle.net/wow/"]:before{background-position:0 -34px;width:16px;height:16px;}
.title a[href*="bossblueprint.com"].title:before,.side .md a[href*="bossblueprint.com"]:before{background-position:0 -51px;width:16px;height:16px;}
.title a[href*="reddit.com"].title:before,.side .md a[href*="reddit.com"]:before,.title a[href*="Vusys/comments"].title:before,.side .md a[href*="Vusys/comments"]:before,.title a[href*="wow/comments"].title:before,.side .md a[href*="wow/comments"]:before{background-position:0 -68px;width:16px;height:16px;}
.title a[href*="curse.com"].title:before,.side .md a[href*="curse.com"]:before{background-position:0 -85px;width:16px;height:16px;}
.title a[href*="dailyblink.com"].title:before,.side .md a[href*="dailyblink.com"]:before{background-position:0 -102px;width:16px;height:16px;}
.title a[href*="elitistjerks.com"].title:before,.side .md a[href*="elitistjerks.com"]:before{background-position:0 -119px;width:16px;height:16px;}
.title a[href*="imgur.com"].title:before,.side .md a[href*="imgur.com"]:before{background-position:0 -136px;width:16px;height:16px;}
.title a[href*="mmo-champion.com"].title:before,.side .md a[href*="mmo-champion.com"]:before{background-position:0 -153px;width:16px;height:16px;}
.title a[href*="noxxic.com"].title:before,.side .md a[href*="noxxic.com"]:before{background-position:0 -170px;width:16px;height:16px;}


.title a[href*="r/transmogrification"].title:before,.side .md a[href*="r/transmogrification"]:before,
.title a[href*="r/wowgoldmaking"].title:before,.side .md a[href*="r/wowgoldmaking"]:before,
.title a[href*="r/wowguilds"].title:before,.side .md a[href*="r/wowguilds"]:before,
.title a[href*="r/wowui"].title:before,.side .md a[href*="r/wowui"]:before,
.title a[href*="r/lookingforgroup"].title:before,.side .md a[href*="r/lookingforgroup"]:before,
.title a[href*="r/wowscrolls"].title:before,.side .md a[href*="r/wowscrolls"]:before,
.title a[href*="r/mmorpg"].title:before,.side .md a[href*="r/mmorpg"]:before{background-position:0 -204px;width:16px;height:16px;}

.title a[href*="memegenerator.net"].title:before,.title a[href*="memegenerator.net"].title:before,.title a[href*="quickmeme.com"].title:before,.title a[href*="qkme.me"].title:before,.side .md a[href*="quickmeme.com"]:before,.side .md a[href*="qkme.me"]:before{background-position:0 -221px;width:16px;height:16px;}
.title a[href*="wow.joystiq.com"].title:before,.side .md a[href*="wow.joystiq.com"]:before{background-position:0 -238px;width:16px;height:16px;}
.title a[href*="wowace.com"].title:before,.side .md a[href*="wowace.com"]:before{background-position:0 -255px;width:16px;height:16px;}
.title a[href*="wowhead.com"].title:before,.side .md a[href*="wowhead.com"]:before{background-position:0 -272px;width:16px;height:16px;}
.title a[href*="wowinterface.com"].title:before,.side .md a[href*="wowinterface.com"]:before{background-position:0 -289px;width:16px;height:16px;}
.title a[href*="wowjuju.com"].title:before,.side .md a[href*="wowjuju.com"]:before{background-position:0 -306px;width:16px;height:16px;}
.title a[href*="wowpedia.org"].title:before,.side .md a[href*="wowpedia.org"]:before{background-position:0 -323px;width:16px;height:16px;}
.title a[href*="warcraftpets.com"].title:before,.side .md a[href*="warcraftpets.com"]:before{background-position:0 -340px;width:16px;height:16px;}
.title a[href*="wow-professions.com"].title:before,.side .md a[href*="wow-professions.com"]:before{background-position:0 -357px;width:16px;height:16px;}
.title a[href*="wowprogress.com"].title:before,.side .md a[href*="wowprogress.com"]:before{background-position:0 -374px;width:16px;height:16px;}
.title a[href*="youtube.com"].title:before,.title a[href*="youtu.be"].title:before,.side .md a[href*="youtube.com"]:before,.side .md a[href*="youtu.be"]:before{background-position:0 -391px;width:16px;height:16px;}
*/

/* New */

.title a.title:before,.side .md a:before{
	background-image:url(%%spritev4%%);
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:0 -204px;
	width:16px;
	height:16px;
	position:relative;
	content:" ";
	display:inline-block;
	margin-right:5px;
}


.title a[href*="arenajunkies.com"].title:before,.side .md a[href*="arenajunkies.com"]:before				{background-position:0 0;width:16px;height:16px;}
.title a[href*="askmrrobot.com"].title:before,.side .md a[href*="askmrrobot.com"]:before					{background-position:0 -17px;width:16px;height:16px;}
.title a[href*="battle.net/wow/"].title:before,.side .md a[href*="battle.net/wow/"]:before					{background-position: 0 -34px; width: 16px; height: 16px; } 
.title a[href*="bossblueprint.com"].title:before,.side .md a[href*="bossblueprint.com"]:before				{background-position: 0 -51px; width: 16px; height: 16px; } 

/*comments*/
.title a[href*="r/transmogrification"].title:before,.side .md a[href*="r/transmogrification"]:before,
.title a[href*="r/wowgoldmaking"].title:before,.side .md a[href*="r/wowgoldmaking"]:before,
.title a[href*="r/wowguilds"].title:before,.side .md a[href*="r/wowguilds"]:before,
.title a[href*="r/wowui"].title:before,.side .md a[href*="r/wowui"]:before,
.title a[href*="r/lookingforgroup"].title:before,.side .md a[href*="r/lookingforgroup"]:before,
.title a[href*="r/wowscrolls"].title:before,.side .md a[href*="r/wowscrolls"]:before,
.title a[href*="r/mmorpg"].title:before,.side .md a[href*="r/mmorpg"]:before 								{background-position: 0 -68px; width: 16px; height: 16px; } 


.title a[href*="curse.com"].title:before,.side .md a[href*="curse.com"]:before								{background-position: 0 -85px; width: 16px; height: 16px; } 
.title a[href*="elitistjerks.com"].title:before,.side .md a[href*="elitistjerks.com"]:before				{background-position: 0 -102px; width: 16px; height: 16px; }
.title a[href*="imgur.com"].title:before,.side .md a[href*="imgur.com"]:before								{background-position: 0 -119px; width: 16px; height: 16px; } 

/* memes and other junk */
.title a[href*="memegenerator.net"].title:before,.side .md a[href*="memegenerator.net"]:before,			
.title a[href*="quickmeme.com"].title:before,.side .md a[href*="quickmeme.com"]:before,			
.title a[href*="qkme.me"].title:before,.side .md a[href*="qkme.me"]:before									{ background-position: 0 -136px; width: 16px; height: 16px; } 			



.title a[href*="mmo-champion.com"].title:before,.side .md a[href*="mmo-champion.com"]:before				{ background-position: 0 -153px; width: 16px; height: 16px; } 
.title a[href*="noxxic.com"].title:before,.side .md a[href*="noxxic.com"]:before							{ background-position: 0 -170px; width: 16px; height: 16px; } 
.title a[href*="openraid.us"].title:before,.side .md a[href*="openraid.us"]:before							{ background-position: 0 -187px; width: 16px; height: 16px; } 
.title a[href*="openraid.eu"].title:before,.side .md a[href*="openraid.eu"]:before							{ background-position: 0 -187px; width: 16px; height: 16px; } 

.title a[href*="reddit.com"].title:before,.side .md a[href*="reddit.com"]:before,
.title a[href*="wow/comments"].title:before,.side .md a[href*="wow/comments"]:before						{ background-position: 0 -68px; width: 16px; height: 16px; } 

.title a[href*="reddit.com"].title:before,.side .md a[href*="reddit.com"]:before							{ background-position: 0 -221px; width: 16px; height: 16px; } 
.title a[href*="teamfind.com"].title:before,.side .md a[href*="teamfind.com"]:before						{ background-position: 0 -238px; width: 16px; height: 16px; } 
.title a[href*="thedailyblink.com"].title:before,.side .md a[href*="thedailyblink.com"]:before				{ background-position: 0 -255px; width: 16px; height: 16px; } 
.title a[href*="warcraftpets.com"].title:before,.side .md a[href*="warcraftpets.com"]:before				{ background-position: 0 -272px; width: 16px; height: 16px; } 
.title a[href*="wow-professions.com"].title:before,.side .md a[href*="wow-professions.com"]:before			{ background-position: 0 -289px; width: 16px; height: 16px; } 

.title a[href*="wow.joystiq.com"].title:before,.side .md a[href*="wow.joystiq.com"]:before					{ background-position: 0 -306px; width: 16px; height: 16px; } 
.title a[href*="wowace.com"].title:before,.side .md a[href*="wowace.com"]:before							{ background-position: 0 -323px; width: 16px; height: 16px; } 
.title a[href*="wowhead.com"].title:before,.side .md a[href*="wowhead.com"]:before							{ background-position: 0 -340px; width: 16px; height: 16px; } 
.title a[href*="wowinterface.com"].title:before,.side .md a[href*="wowinterface.com"]:before				{ background-position: 0 -357px; width: 16px; height: 16px; } 
.title a[href*="wowjuju.com"].title:before,.side .md a[href*="wowjuju.com"]:before							{ background-position: 0 -374px; width: 16px; height: 16px; } 
.title a[href*="wowpedia.org"].title:before,.side .md a[href*="wowpedia.org"]:before						{ background-position: 0 -391px; width: 16px; height: 16px; } 
.title a[href*="wowprogress.com"].title:before,.side .md a[href*="wowprogress.com"]:before					{ background-position: 0 -408px; width: 16px; height: 16px; } 
.title a[href*="youtube.com"].title:before,.title a[href*="youtu.be"].title:before, .side .md a[href*="youtube.com"]:before,.side .md a[href*="youtu.be"]:before		{ background-position: 0 -425px; width: 16px; height: 16px; } 	



/* Sidebar faction icons */
.side .md a[href*="r/fth"]:before, .side .md a[href*="r/euguild"]:before{background:url(%%wow-flair-icons-transparent-2%%) no-repeat scroll 16px 16px transparent;background-position:0 -640px;height:18px;width:18px;}
.side .md a[href*="r/redditguild"]:before{background:url(%%wow-flair-icons-transparent-2%%) no-repeat scroll 16px 16px transparent;background-position:0 -660px;height:18px;width:18px;}


/* Super hacky way to remove icons from a link */
a[href*="#noicon"]:before{
	content:'' !important;
	width:0px !important;
	height:0px !important;
}






/* =========================== */
/*     Announcement Sticky     */
/* =========================== */

/* To remove: */
/* 1) Remove the sticky from the sidebar, it'll look something like: */
/* ### **Announcement:** Bacon and Narwhals */

/* 2) Comment out the CSS from here... */

div.content {
	margin-top:60px;
}
.titlebox form {
	/*Hack to enable repositioning of child elements*/
	position: static
}
.side .usertext h3{
	position:absolute;
	display: block;
	top:107px;
	left:10px;
	color: #000;
	text-align: left;
	margin: 20px;
	margin-left:35px;
	width: 55%;
	font-weight: normal;
	padding: 7px 0px 7px 20px;
	background-image: url(%%Availablequesticon%%);
	background-repeat: no-repeat;
	background-position:left;
}  

 

 /* Fixing the Ads */

 #ad-frame, #login_login-main {
    border: 0 none;
    display: block;
    margin: 10px -5px;
    overflow: hidden;
    width: 300px;
}

/* Fiddling with RES Bacon Bit */

#baconBit {
	background-image: url(%%glaive%%) !important;
	width:50px !important;
	height:20px !important;
}
.RESNotificationHeader h3 {text-indent:-5555em;padding-top:0;}
.RESNotificationHeader:before {
	content: "Illidan Stormrage Yells:";
}
.RESNotificationHeader {
	padding-top: 12px;
	font-size: 15px;
}
.RESNotificationContent {text-indent:-5555em;}
.RESNotification:after {
	content: "YOU ARE NOT PREPARED"; 
}


/* ...to here. */
/* 3) Done */
