/* Upboats and Downboats
.arrow {
  height: 20px;
  width: 24px;
  background-image: url('%%voting-crabs%%') !important;
}
.arrow.upmod { background-position: -0px -0px; }
.arrow.up { background-position: -0px -20px; }
.arrow.down { background-position: -0px -40px; }
.arrow.downmod { background-position: -0px -60px; }

.midcol { width: 36px !important; padding: 10px 0px; }
.entry { padding: 5px 0 0;}
*/
