/* This is the "read the sidebar" link for mobile */
.side h4 {
  display:none;
  }

@media (max-width:1060px) {
.side::before {
  background:url(%%sidebar-top-alt%%) no-repeat;
  }
#header-bottom-left .tabmenu {
  top:50px;
  width:60%;
  }
#siteTable .thing:first-child .entry {
  padding-right:0;
  }
.entry {padding-right:30px !important;}
}

@media (max-width:900px) {
.side blockquote {left:14%;}
}

@media (max-width:850px) {

.side {
  position:absolute;
  left:-400px;
  z-index:999;
}
.side blockquote {display:none;}
.side h4 {
  position:absolute;
  display:block;
  top:8px;
  right:-243px;
  padding:7px 10px;
  background:rgba(0,0,0,0.5);
  }
.side h4 a {
  color:#f90;
  }
#header-bottom-left .tabmenu {
  left:150px;
  top:125px;
  }
div.content {
  margin-top:60px;
  }
.organic-listing {
  margin:11px 10px 7px 4px;
  }
}

@media (max-width: 585px) {

div.content {
  margin-top:75px;
  }
}

@media (max-width:438px) {
#header-bottom-left .tabmenu {
  left:250px;
  top:35px;
  width:129px;
  background:#000;
  }
}
