// variables.scss
// makes reusing shit easy - keep stuff that is touched all the time at the top

// theme selection
// valid names: default, winterveil, darkmoonfaire
$theme: darkmoonfaire;

// subreddit user descriptor thingers
$users_subscribed_text: "Winter Veil Revellers";
$users_online_text: "Greench Hunters";

// announcements NYI
$announcement_markdown: "Happy Winter Veil!";

// of the day NYI
$subreddit_otd_markdown: "/r/Diablo - wait, Blizzard makes *other* games?";
$fansite_otd_markdown: "[Wowhead](http://wowhead.com) - you know why.";

// world of warcraft class & faction colors
$deathknight: #C41F3B;
$druid: #FF7D0A;
$hunter: #ABD473;
$mage: #69CCF0;
$monk: #00FF96;
$paladin: #F58CBA;
$priest: #FFFFFF;
$rogue: #FFF569;
$shaman: #0070DE;
$warlock: #9482C9;
$warrior: #C79C6E;

$alliance: #247FAA;
$horde: #B30000;

// super special colors
$linkcolor: #008467;                      // darker green
$thing_linkcolor: #5FFBDA;                // minty green
$thing_visited_linkcolor: #826A19;        // light brown shit

// header stuffs
$header_image_path: "../images/reddit-header.jpg";

// thread thing colors
$normalpost_background_color: #29120A;

$modpost_background_color: #002200;

$awesomepost_background_color: #37190E;

$blizzpost_background_color: #022642;
$blizzpost_title_color: #00B4FF;
$blizzpost_text_color: #00B4FF;
$blizzpost_tagline_color: #888877;
$blizzpost_buttons_color: #888877;

// the following variables MUST be at the end of the file.
// these variables will override above variables if a theme
// is to be loaded.

@if $theme == winterveil {
    // load winterveil changes
    $header_image_path: "../images/reddit-header-winterveil.jpg";

} @else if $theme == darkmoonfaire {
    // load darkmoonfaire holiday changes
    $header_image_path: "../images/reddit-header-darkmoonfaire.jpg";
}
